[2019-08-16 20:31] satra opened #1 "Curate and upload current available datasets"
Curate and upload all existing datasets as dandisets

[2020-01-03 14:09] satra opened #2 "BICCN datasets for flagship papers"
Upload BICCN datasets

[2020-01-03 14:16] satra opened #3 "organize https://github.com/dandi-datasets"
proposed organization:

- [x] each repo is a dandiset
- [x] each repo has a dataset_descriptor.yml (to have comments and readability of multiline strings) with keys from the FAIR dataset doc: https://docs.google.com/document/d/1WvRr9J2Ums0-CQIcdUeFZakE2RPeagRnexUBFDiiV7w/edit?ts=5defc58b
- [x] the entire dandi-datasets is available through datalad

[2020-01-03 14:18] satra opened #4 "should dandi-datasets org be renamed to dandisets"
should we kind of use dandiset as our default nomenclature?

[2020-01-03 16:23] yarikoptic commented on #4
I thought it was a great idea, so I did it.  The dandi-datasets is dead, long live https://github.com/dandisets

[2020-01-03 16:23] #4 closed

[2020-01-03 16:25] yarikoptic opened #5 "Should we move this repo under dandisets/README"
or some other pinned repository within dandisets organization, so people could easily find it?

[2020-01-03 16:35] satra commented on #5
i actually don't know what this repo should do :) i was just using it for issues for the dandisets organization.

[2020-01-03 17:11] yarikoptic commented on #5
;-) it could be a superdataset to install all datasets recursively. But also to collect issues as such. In readme we could point to datalad, otherwise not clear what to eat them with

[2020-01-03 17:29] satra commented on #5
+1 on datalad superset - should we call it dandisuperset or dandilad ?

[2020-01-03 17:30] satra commented on #5
if a superset, we can move this repo to dandisets and pin it.

[2020-02-15 00:13] satra commented on #2
@bendichter - can you ping this when you have all data uploaded/verified for kriegstein and tolias datasets? we can then run dandi organize on it.

[2020-04-14 14:47] satra commented on #5
move to org. we could perhaps use this as a superset as discussed here.

[2020-04-14 14:47] #5 closed

[2020-04-14 14:48] satra commented on #1
this has been completed.

[2020-04-14 14:48] #1 closed

[2020-04-14 14:48] satra commented on #2
this has also been completed.

[2020-04-14 14:48] #2 closed

[2020-04-14 14:49] satra commented on #3
@yarikoptic - we should do this for the current datasets as a way of figuring out the mechanics externally. then we can consider how to move the mechanics to girder.

[2020-08-05 11:54] satra opened #6 "dandi:000017 metadata discrepancy"
@bendichter  - is this: https://dandiarchive.org/dandiset/000017/ the same as this: https://figshare.com/articles/dataset/Eight-probe_Neuropixels_recordings_during_spontaneous_behaviors/7739750

if so we should change the license, and also point to that resource.

we may want to make the changes after the publish ui is merged, but wanted to note the discrepancy.

[2020-10-22 16:11] yarikoptic commented on #6
while we do not have "issue reporting" on dandiarchive.org, should we then see to enable Issues on individual dandisets on https://github.com/dandisets ?  Then we can (ab)use github to provide our dandisets overall issue tracking (datalad or not related).

[2020-10-22 16:12] yarikoptic commented on #3
I think we are done with this one now ;) all of them at https://github.com/dandisets, this repository will provide super dataset and tools for datalad'ification etc.

[2020-10-22 16:12] #3 closed

[2020-10-22 16:20] bendichter commented on #6
@satra Yes, I believe it is, and @yarikoptic yes, using dandisets to organize these types of things seems like a good idea

[2020-10-22 16:20] yarikoptic opened #7 "backups2datalad.py: Address TODOs"
See https://github.com/dandi/dandisets/blob/master/tools/backups2datalad.py#L15 (note: I added raise of an exception just to avoid myself running it ATM)

@jwodder you should be able to login as `dandi` to drogon.  This superdataset is at `/mnt/backup/dandi/dandisets` but if any development/testing to be done, we better do it elsewhere OR on `000029` which is our "development" beast we can torture

[2020-10-22 16:29] yarikoptic opened #8 "script to enable/disable github features across dandisets we already have"
ATM I would like to
- disable pull requests (these are "consumables" from dandiarchive, so nothing really should be introduced via PRs)
- disable wikis
- enable issues

I filed related https://github.com/datalad/datalad/issues/5071 to do it at the `datalad create-sibling-github` level.  Well, ideally we should have some helper in datalad `siblings` but that one is "github unaware" ATM. @jwodder --

[2020-10-22 16:30] yarikoptic commented on #6
Great, closing this one, #8 (and referenced there datalad origin fix) will introduce Issues

[2020-10-22 16:30] #6 closed

[2020-10-22 16:35] satra commented on #8
ok for now.

[2020-10-22 16:35] yarikoptic opened #9 "handbook: add basic intro section and some usecases on how to use DataLad dandisets"
to be added to https://www.dandiarchive.org/handbook

[2020-10-22 16:35] yarikoptic opened #10 "Add README.md"
with
- pointers to dandiarchive.org
- purpose of this superdataset
- pointers to datalad and handbook.datalad.org to learn more
- very brief description on how it is updated (an hourly cron job)
- basic usage examples:
  - install with or without data
  - refer to https://www.dandiarchive.org/handbook  (contingent on #8)

[2020-10-22 16:40] yarikoptic opened #11 "helper + github actions for QA?"
on push and cron those could at least verify that every annexed file is still available from our S3

I think we need to establish some helper to given a dandiset execute necessary tests + create a github action so that backups2datalad.py then should instantiate workflows invoking that action which "installs" all necessary for helper dependencies and runs the tests and reports on success/failure.

[2020-10-22 17:03] jwodder commented on #7
@yarikoptic What exactly does "make work with released datalad (so return back special remote setup helpers)" mean?  Note that the code currently requires [a version of datalad that hasn't even been merged yet](https://github.com/datalad/datalad/pull/5065); do you want me to undo taking advantage of that PR and call `init_remote` the old/currently-supported-by-released-datalad way?

[2020-10-22 17:03] yarikoptic commented on #8
what are you thinking about "longer term" @satra ?

[2020-10-22 19:16] yarikoptic commented on #7
yes, for now pretty much revert https://github.com/dandi/dandi-cli/commit/695999079d07faec4cdd49766df2b0091d6a0cb7 . I am yet to review that PR and others would need to chime in, API might change etc.  For running this script we should use released (or maint, and less preferably `master`) version of datalad to avoid surprises etc.

well it is a "maybe", not yet certain of it... keep pushing as is

[2020-10-22 19:23] jwodder commented on #7
@yarikoptic Do I need to do anything for the "return back special remote setup helpers" bit?

[2020-10-22 23:36] yarikoptic commented on #7
it think that just revert of https://github.com/dandi/dandi-cli/commit/695999079d07faec4cdd49766df2b0091d6a0cb7 would be enough.

[2020-10-23 12:30] jwodder commented on #7
@yarikoptic Done: #12

[2020-10-23 14:41] #8 closed

[2020-10-23 21:09] #7 closed

[2020-10-23 21:16] yarikoptic opened #14 "backups2datalad.py: skip update entirely if no changes according to stored metadata listing file"
to make it possible to avoid inefficient file-by-file checks if we know that no file has changed from previous time

but there should be an option `--force=check` (later we might add other force)  which would cause full check

edit: talking about `.dandi/assets.json` which should not change if nothing changed on server side

[2020-10-28 17:02] #14 closed

[2020-11-04 19:07] yarikoptic opened #16 "reports creating github sibling (again) if there is a change"
just spotted in the recent cron jobs outputs
[code]

there should be no "Creating GitHub sibling for 000003    " since it already exist(ed) for a while.

[2020-11-04 19:15] jwodder commented on #16
@yarikoptic That's just the message displayed before calling `ds.create_sibling_github()`; if a sibling is already configured for the repository, the call should be a no-op.  The script doesn't check whether a sibling exists or not; it relies on the sibling-creation and -configuration commands to be idempotent, and so it runs them every time there are changes to be pushed.

Would changing the mess

[2020-11-04 19:58] yarikoptic commented on #16
Let's add a check if remote already known, if known -- do not even bother calling `create_sibling_github` (and log at .debug level that it already found existing)

[2020-11-04 21:31] #16 closed

[2020-11-05 23:29] yarikoptic opened #18 "update fails due to `already exists`"
[code]

altogether -- I think we need to at least make backup (of assetstore) as frequent as the runs of this script.  Actually better to bundle them together and possibly just skip dandisets for which there is an item with file not yet in assetstore (they all should be).

yet to analyze this specific case . will turn off the cron job for the script for now

[2020-11-05 23:39] yarikoptic opened #19 "if update of dandiset fails, `reset --hard` to the prior state"
Relates to #18 -- ATM I ended up with the following history
[code]
so we got asset.json removed... AFAIK shouldn't happen.  I think the best strategy would be to just revert back completely to the state before even attempting to update

[2020-11-09 16:04] yarikoptic opened #20 "provide/adjust dandiset stats/description/url for a dandiset upon push"
ATM those on https://github.com/dandisets/  have no metadata on them. Hard to impossible to find anything unless know which one you are looking for. Ideally within https://github.com/dandi/dandisets/blob/master/tools/backups2datalad.py we should
- upon initial publish for each repo provide URL which would point to `https://identifiers.org/DANDI:<ID>` e.g. https://identifiers.org/DANDI:000006 .
- u

[2020-11-09 16:49] jwodder commented on #20
@yarikoptic The "file" and "storage" symbols on gui.dandiarchive.org appear to be part of a custom font rather than actual Unicode characters.  There are some Unicode characters similar to the "file" glyph, but they don't show up on my computer.  I can't find a Unicode character resembling the "storage" glyph.

[2020-11-09 17:53] jwodder commented on #20
@yarikoptic What exactly should the semantics of the "force trigger" option be?  Should it cause the script to run as normal but also set the description & URL for every repository, regardless of whether they're being pushed to, or should it cause the script to only set the description & URL for repositories, not even bothering with syncing?

What if the script always set the description & URL for

[2020-11-09 18:08] yarikoptic commented on #20
storage: ⛃ (well -- for https://en.wikipedia.org/wiki/Draughts but looks close enough), file -- I failed to find one. Which one you found?  Oh well -- could be `X files, Y GBs` without fancy unicode.

I think it would be useful to support such a dedicated command

would be wasteful/take time as number of dandisets grows.  Those could change only whenever a dandiset is updated (we would be pushing)

[2020-11-09 20:34] yarikoptic opened #22 "add --pdb option to backups2datalad.py to fall into post-mortem pdb session upon not handled exception"
we have it in `dandi-cli`.  Should be done here as well, or otherwise it makes it difficult to debug in case of failures

[2020-11-09 22:34] yarikoptic commented on #18
<details>
<summary>This issue persists, although logs are a bit different with more up to date dandi-cli etc</summary>

[code]
</details>

-  we need more informative "dandi Multiple files for one item found; using oldest one" -- for which item? I have checked https://girder.dandiarchive.org/#item/5fa42f0b271e91aad754e4b5 for the one which fails the run, but there is only one run so we still don't

[2020-11-09 22:34] #22 closed

[2020-11-09 22:38] #20 closed

[2020-12-03 00:13] yarikoptic commented on #18
Fixed by #25

[2020-12-03 00:13] #18 closed

[2020-12-03 00:14] yarikoptic opened #26 "Use fscacher instead of ad-hoc memoization for"
I just pushed a dirty workaround disabling internal memoization in 4f0a6b6ad2726532193a5d0f58d9ac14f65b1dc7 . After https://github.com/con/fscacher/issues/22 is resolved, we could start using it here.

[2020-12-03 14:14] yarikoptic opened #27 "Add option --exclude-dataset|-e to exclude some datasets"
ATM 000003 is problematic (https://github.com/dandi/dandiarchive/issues/517), so we need to skip it, but we want all the others (including new ones, so no explicit list) to be processed.

Probably should be an option which could be specified multiple times, or could be a regular expression

[2020-12-03 14:16] yarikoptic opened #28 "backups2datalad.py: Ensure that dataset id is not treated as int"
yesterday I had managed to run `backups2datalad.py` while omitting leading `0` it its name (`00005` instead of `000005`).  Script managed to proceed while accessing `000005` but locally creating `00005`, so it feels that somewhere it is assumed that dataset id is an int.  IMHO should be more restrictive and treat identifier as a string.

[2020-12-03 14:35] jwodder commented on #28
@yarikoptic `backups2datalad.py` treats the identifiers it's given literally, without any casts or transformations.  I believe the remapping is due to either dandi-cli or the Girder API.  Specifically, `navigate_url(f"https://dandiarchive.org/dandiset/00005/draft")` ends up fetching data for `000005` (and the log message the function emits is "Traversing remote dandisets (000005) recursively").

[2020-12-03 14:53] yarikoptic commented on #28
Oh, thanks for the analysis. I will transfer it to dandi-cli

[2020-12-03 16:34] #27 closed

[2020-12-03 18:20] yarikoptic opened #31 "guard for hiccups issues with girder"
long running script has failed due to

[code]

I think we encountered those before and in dandi-cli just try a few times.  I guess we are doomed to do the same here one way or another

[2020-12-03 19:31] #31 closed

[2021-02-25 14:17] djarecka opened #33 "git-annex died of signal 9"
I'm downloading dandi data using datalad and this error was raised more than once:

[code]

<details><summary>DataLad 0.13.7 WTF (configuration, datalad, dependencies, environment, extensions, git-ann\
ex, location, metadata_extractors, python, system)</summary>

# WTF
## configuration <SENSITIVE, report disabled by configuration>
## datalad
  - full_version: 0.13.7
  - version: 0.13.7
## dependen

[2021-02-25 15:26] yarikoptic commented on #33
Thanks for the report!  Could you please paste the output of `datalad wtf -D html_details` in the original issue description?  it seems there [were reports](https://www.google.com/search?q=%22git-annex+died+of+signal+9%22&oq=%22git-annex+died+of+signal+9%22&aqs=chrome..69i57.1359j0j7&sourceid=chrome&ie=UTF-8) before on such an error (from `git` itself ) - I want to make sure we are not talking abo

[2021-02-25 16:16] djarecka commented on #33
@yarikoptic - updated

[2021-02-25 20:09] #26 closed

[2021-02-25 20:29] yarikoptic opened #34 "migrate key urls over to new dandi-api from the girder blob store"
girder will eventually deprecated.  We will need to do the following
- whenever dandi-api instance is populated with data, adjust the scripts to interact with dandi-api instance instead of girder one
- populate with unambiguous (in versioning) URLs for each file (see below) `&&` `git annex` remove url girder blob store urls (note, that it might need actually git-annex development: https://git-anne

[2021-02-25 20:47] satra commented on #34
i was thinking about this yesterday as i was trying to figure when and what contentURL would go into the asset metadata.

i think you should use `/dandisets/{version__dandiset__pk}/versions/{version__version}/assets/{uuid}/download/` it's ok if assets are mutable (for now). you have no guarantees that someone else did not delete things from the dandiset, so you will need to comb through the entire

[2021-02-25 21:27] yarikoptic commented on #34
nah -- it would be just a waste of bandwidth for git-annex which would download a file only to discard it as checksum would not match (in comparison to failing right away if the blob is no longer available), and impossible to verify reliably if original content is still available before dropping it.
If we would like to RF the server to make assets immutable (i.e. go to the original design) - we sh

[2021-02-25 23:27] satra commented on #34
why would it be a waste of bandwidth, you can download metadata which has all the pieces. you can check locally if the remote checksum is the same as the local checksum and update or discard as necessary.

can't you do all the operations based on the metadata without downloading any file? (as we have discussed before about creating git-annex datasets?)

[2021-02-26 00:49] yarikoptic commented on #34
Are you suggesting to develop dandi special remote for git annex to access files from the archive via two calls (first metadata, then file) with tightly binding annex key backend and the choice of checksumming in the archive?

And that is just to overcome current shortcoming in the archive design and to gain (only potentially) better accountability? IMHO an overkill for little to no gain.

[2021-02-26 14:26] yarikoptic commented on #33
what is your output of `limit` command?  I wonder if amount of resources (RSS etc) is "restricted" and that leads the system to kill some underlying process (git or git-annex) when it grabs "too much".  `git annex` e.g. at times requests quite a hefty chunk of address space (although not really using that memory so not running out of RAM) - so if you have some `addressspace` limits imposed, that w

[2021-02-26 14:31] yarikoptic commented on #33
there is no `limit` there, but

<details>
<summary>here is what ulimit -a gives for me -- seems to be ok</summary>

[code]
</details>

[2021-02-26 16:12] yarikoptic commented on #33
so it seems to be boiling down to restrictions of the system on run time of the processes... I filed referenced above issue in datalad on better error reporting and https://github.com/datalad/datalad/issues/5447 to possibly add "auto restart" of such processes... but not sure when/if that would be implemented.  I could only recommend gaining "super privileges" or seeing if system could allow some

[2021-02-26 16:12] #33 closed

[2021-04-19 19:57] #10 closed

[2021-04-20 15:00] yarikoptic opened #36 "backups2datalad.py: RF to use dandi-api not girder"
migration is upon us, so time to have this script migrate to use dandi-api interface and URLs
- overall scope: replace interactions with girder instance with interactions with dandi-api
  - https://gui-beta-dandiarchive-org.netlify.app/#/dandiset still has some datasets populated so would work, but I think it is worthwhile to:
  - add basic testing on a dockerized instance (setup similar or may be

[2021-04-20 16:25] jwodder commented on #36
@yarikoptic Problem: `backups2datalad.py` compares SHA256 hashes reported by the API against SHA256 hashes reported by git-annex in order to determine whether to redownload assets, but the new API doesn't use SHA256, only etags.  As a result, the decision of whether to redownload will be based solely on filesize, which is less reliable.

[2021-04-20 16:39] yarikoptic commented on #36
right! well -- we are doomed to recompute it since AFAIK we do not have yet sha256 offband computation (or do we @dchiquito ?).
And since we will be re-uploading all the data from the same box (and with this note -- the same account) we could reuse that cached value - just use the same function we use for computing etag in dandi-cli?

The extra question is either we should rely solely on fscacher

[2021-04-20 16:47] satra commented on #36
@yarikoptic - perhaps as part of this transition we can move to blake2/3, one of which i think is supported by git-annex and consolidate towards that. but indeed the whole out of band checksum computation needs to be enabled.

[2021-04-20 16:51] jwodder commented on #36
@yarikoptic You're suggesting that, in lieu of getting the SHA256 hash from the API, it instead be calculated by (cached) hashing the source asset in the assetstore?  (I don't know what cached value you're suggesting be reused.)  Then what should happen when there's no asset in the assetstore but there is an asset in the dataset?

[2021-04-20 17:56] yarikoptic commented on #36
and most likely we would just still keep sha256 computation out of band... And since we do not have any other checksum computed ATM (other than our dandi-etag), it is all hypothetical.  What we also want to see is that after migration, update of datalad dandisets results in NO CHANGES since it should be exactly that data uploaded.

[2021-04-20 18:09] yarikoptic commented on #36
every asset should have `dandi-etag` ATM (well, after everything is re-uploaded) and we (will) have `blobs/` blob store (ATM it even has some since not yet removed from the bucket) which will be backed up similarly to how we backed up the `girder-assetstore/`.  While considering an annexed file now we cannot just use its `sha256` from key since API does not provide us with sha256 for that asset.

[2021-04-20 18:30] dchiquito commented on #36
@yarikoptic I believe we should actually have a job running to compute the SHA256 of newly minted assets. It isn't used for validation, it's just saved to the asset blob table whenever the job finishes.

Unfortunately I don't see that it is injected into the metadata at the moment, so it's not exposed in the API. I can add that easily if it's required.

[2021-04-20 18:34] yarikoptic commented on #36
@dchiquito it would indeed streamline backups2datalad.py operation since then we could just rely on it being provided.

[2021-04-20 18:41] dchiquito commented on #36
I don't see a place in the `asset.json` schema where it could be injected. There is a `digest` field, but there is only one. I would assume that we would put the ETag there, since that's the identifier we are using more often.

We could hypothetically put the ETag there if the SHA256 isn't calculated yet, then put the SHA256 after it is computed, but that seems inconsistent and weird. Anything mor

[2021-04-20 18:50] satra commented on #36
@dchiquito - you would add another element to digest. the digest field is just a key value store.

[code]

[2021-04-20 19:01] dchiquito commented on #36
I was looking at https://github.com/dandi/schema/blob/master/releases/0.1.0-rc1/asset.json#L1006-L1037, but if that's the case then that should be pretty easy to add. I will see if I can get it tacked on soon.

[2021-04-20 19:23] satra commented on #36
latest schema used by the api+ui is here: https://github.com/dandi/schema/tree/master/releases/0.3.0

[2021-04-21 18:16] dchiquito commented on #36
FYI https://github.com/dandi/dandi-api/pull/242 should provide all available digests in the asset metadata.

[2021-04-26 22:35] yarikoptic commented on #34
#37 is already adding new `blobs` urls  for new assets.  Now we just need to do one time migration of existing girder store urls to blobs store:

- should ideally operate on all annexed keys, not just files in the current tree. But since probably not that many (if any atll) of previous versions of files which were present in girder store and then replaced with new versions would be present in blob

[2021-04-29 13:58] #36 closed

[2021-04-29 14:53] yarikoptic opened #38 "too slow -- must be recomputing hashes over and over again"
may be fscacher issue or smth like that.  E.g. as dandi on drogon:
[code]
and subsequent run (if all worked correctly -- should go through files fast since digests should be fscached etc):
[code]
but it is still spending over 30 seconds per file.

[2021-04-29 14:56] yarikoptic commented on #38
actually in this case it should not even care about etag since we use sha256 annex backend in dandisets (but md5 in s3 backup :-/) and api did provide digest.sha2-256  so we should just quickly compare on that and proceed.

[2021-04-29 16:02] yarikoptic opened #39 "A helper to produce access (download) stats"
Raised by @satra in emails: we would need a way to get data access stats.

We have a bucket with logs for s3 access, and IMHO it would be the ultimate source of stats since we share not only dandi-api urls but also direct S3 urls.  Also we do not store/keep all versions of data in `draft`, so girder and/or dandi-api DB would not have all that information.

So I guess we should resort to using data

[2021-04-29 20:08] jwodder commented on #38
@yarikoptic I don't see any obvious reason why this would be happening.  Try running the version of the script from #40 for added debugging output.

[2021-04-30 12:53] jwodder commented on #34
@yarikoptic Do you just want the new S3 URLs to be added to the assets, or should the download URLs be included as well?

How do I do that when retrieving the `AnnexRepo` via `dataset.repo`?

[`add_url_to_file`](http://docs.datalad.org/en/stable/generated/datalad.support.annexrepo.html#datalad.support.annexrepo.AnnexRepo.add_url_to_file) claims to support `batch=True`.  Should I be using that or `

[2021-04-30 14:08] yarikoptic commented on #34
Let's add both. Unfortunately I found no way to prioritize direct one over api (why to torture api server without need), so filed a `/todo` against git-annex: https://git-annex.branchable.com/todo/assign_costs_per_URL_or_better_repo-wide___40__regexes__41__/ .  When/if implemented, then we could prioritize direct one.  Note: please add direct S3 urls with `?versionId=`.  Relevant discussion/reason

[2021-04-30 14:31] jwodder commented on #34
@yarikoptic I used `ds.repo.add_url_to_file()` (`ds.repo` doesn't have a `registerurl()`, at least according to the documentation) with `batch=True`, and it ended up creating a separate commit in the `git-annex` branch for each file.  What do you recommend instead, and how do I reset a dataset to its upstream state?

[2021-04-30 21:59] yarikoptic commented on #38
the main problem was in use of fscacher which resolved path (annex symlink)  (https://github.com/con/fscacher/issues/44) -- mitigated by disabling fs cacher there in 322b9506c5d859427dad7455d35ff9ba0720393d .
But then had to follow it up with an ad-hoc "OPT" in 8ef816f336ad82d2344d67d4d28cc57991182f72 to not even bother talking to annex.  We should revert that when/if fscacher stops resolving -- i

[2021-04-30 21:59] #38 closed

[2021-05-01 14:02] yarikoptic opened #42 "tune up commit message to be immediately more informative"
ATM it is
[code]
so `tig` `gitk` etc show only the list of not so informative "Ran ..." lines. Let's RF it to be

[code]

[2021-05-03 12:38] #42 closed

[2021-05-03 12:40] #34 closed

[2021-05-03 18:16] yarikoptic opened #44 "FTR: populating with new URLs crashed on 000020"
[code]

[code]
I will retry on that one now

PS edit1: will need for cron job updating them will finish. I run while using `flock -E 0 -e -n /home/dandi/.run/backup2datalad-cron.lock ` to avoid possible multiple scripts trying to modify the same dandiset

[2021-05-04 14:23] yarikoptic commented on #44
I think it went through ok on rerun, so must have been some connection issue, not worth "fixing" for one time script

[2021-05-04 14:23] #44 closed

[2021-05-04 14:30] yarikoptic opened #45 "FTR: ensured that we have all assets available from api or blobs"
after running
[code]

did

[code]
to check that nothing is in girder but available from the web (thus either blobs or api url)

[2021-05-04 14:30] #45 closed

[2021-05-04 14:38] yarikoptic commented on #11
the easiest way to check that URLs are still valid would be
[code]
but it puts strain on our dandi-api since api URL is considered first by git-annex before the direct S3 URL, so we might want to wait for being able to assign costs to urls: filed https://git-annex.branchable.com/todo/assign_costs_per_URL_or_better_repo-wide___40__regexes__41__/

[2021-06-04 20:46] bendichter opened #46 "105 metadata: author names in wrong order"
authors should be listed as "Last Name, First Name"

[2021-06-04 20:50] satra commented on #46
i fixed this, but i'm so hoping we can merge 0.4.0 soon after daniel is back. this would all raise flags under the new schema.

[2021-06-04 20:50] #46 closed

[2021-06-15 17:54] yarikoptic opened #47 "Adjust for dandi-cli API changes"
WiP in https://github.com/dandi/dandi-cli/pull/660, so whenever it lands/released the http://github.com/dandi/dandisets/blob/HEAD/tools/backups2datalad.py would probably need adjustments to use new API.

[2021-06-15 19:57] yarikoptic opened #49 "add dandiset_id and asset_id into a message"
I am trying to minimize amount of logging and thus set logger to WARNING level

see only
[code]
would be nice if it listed dandiset and asset id and/or path.  Even though might grow long -- would be informative on its own

[2021-06-15 20:01] jwodder commented on #49
@yarikoptic Dandiset ID and asset path added to warning messages in #48.

[2021-06-15 20:25] yarikoptic commented on #49
eh, ok, you really want me to try out that PR ;-)

[2021-06-29 20:03] #47 closed

[2021-07-01 01:48] yarikoptic opened #51 "take commit date as the latest from prior commit date AND added assets"
going back in time makes little sense and seems to manage to happen when code starts to invalidate some assumptions as happened for 000055 after bolting on update of assets which caused some assets to be first removed, and then readded in subsequent commit, and making that commit date to be the one of added assets.

[2021-07-01 12:54] jwodder commented on #51
@yarikoptic To be clear: When generating updated metadata for assets, you want `dateModified` (or `blobDateModified`?) to be set to the timestamp of the most recent commit of the dataset if it's later than the default value.  Is that what you're saying?

[2021-07-01 13:01] jwodder commented on #51
@yarikoptic Disregard the above; what you actually want is for the date of the commit when saving the updated data to be no earlier than the date of the previous commit, correct?  When regenerating asset metadata, should the new `dateModified` also be taken into account?

[2021-07-01 13:30] yarikoptic commented on #51
yes!

I think we should just move out all this regeneration/update of assets into an independent script.  @satra had one cooking yesterday, and then remove that portion of the code here

[2021-07-01 14:54] #51 closed

[2021-07-05 13:05] yarikoptic opened #54 "Prepare dandisets releases"
Publishing is near. Staging has examples with published dandisets and could be used to test development.

I am thinking we should add
- a function and CLI end point to create a release . It would get a release string, and an optional commitish based on which to create a release (possibly with an extra commit if list of assets differs in the released on dandi dandiset).
   - if no commitish provide

[2021-07-06 16:04] jwodder commented on #54
@yarikoptic

What exactly would this "extra commit" be used for?  If the assets differ between the repo and the Dandiset, why not just pass the commitish for when they matched?  Or do you mean that, if the repo is behind the Dandiset, it should update and commit the metadata?  I think doing that should be taken care of by the pre-existing portion of `backups2datalad.py` rather than be added to thi

[2021-07-06 16:04] jwodder commented on #54
@yarikoptic Also, what should the tag message be for the annotated tags?

[2021-07-06 16:20] jwodder commented on #54
@yarikoptic Also, what exactly do you want the syntax of the CLI command to look like?  The most natural option would be to make it a subcommand, but that would require converting the functionality of the current `backups2datalad.py` command to a subcommand as well.

[2021-07-06 17:14] yarikoptic commented on #54
Since we have only a single point of deployment it would easy to convert the invocation.

While at it may be let's rename it into `datalad-dandisets` command may be?  With commands (names are tentative -- if you think of better ones, I would not mind)
- `update-from-backup ...` (current `backups2datalad.py`; can change CLI interface to harmonize if so desired etc)
- `release [--commitish COMMITISH

[2021-07-06 18:36] jwodder commented on #54
@yarikoptic Should the `update-from-backup` procedure ever invoke `release`?  As far as I can tell, the only way to check for new published versions is to fetch all of them and compare them against the repo's tags.

[2021-07-06 20:46] yarikoptic commented on #49
we merged that PR, and I reminded dandi-api folks that issue persists: https://github.com/dandi/dandi-api/issues/254  .  Nothing more to be done here

[2021-07-06 20:46] #49 closed

[2021-07-06 22:06] yarikoptic commented on #54
yes, it should as it would be ran by a cron job and ideally (unless we run into those cases where we can't deduce what release is based on) it should be automated

or, assuming that we do not release/delete-release/re-release-under-the-same-version, just fetch `/dandisets/{dandiset__pk}/versions/`, and analyze those for which we do not yet have a git tag.

[2021-07-19 13:48] yarikoptic opened #56 "our backup script "doesn't fail" in case of error"
Apparently for a few days now we had a dirty state of one of the dandisets due to original fail due to some 503 from API

<details>
<summary>Gory details of the original fail</summary>

[code]
</details>
that script should have failed altogether to alert us that something is "off".

Note: I had to disable chronic due to https://github.com/datalad/datalad/issues/5465 so I do receive an email on eve

[2021-07-20 12:50] jwodder commented on #56
@yarikoptic You appear to be grepping the output of the script.  By default, the exit status of the left-hand side of a pipe is ignored in Bash; you need to do `set -o pipefail` in order for the pipeline to fail whenever the backup script fails.

[2021-07-21 13:34] yarikoptic commented on #56
d'oh, right -- thank you!  will add to bash script whenever current run finishes (disabled cron job for now) -- shouldn't modify running shell script. will close the issue with that commit

[2021-07-26 01:48] #56 closed

[2021-08-10 17:28] yarikoptic opened #57 "move to use "draft" (not "master") branch"
"master" branch is now frowned upon, and carries no semantic meaning in DANDI land.

- code need to create/set  on github "draft" branch to be the default one
  - should be done after #55 is merged (auto-testing is blocked ATM waiting for staging bucket to become more public), thus this issue `blocked` for now
  - will need a helper command to adjust default branch of all dandisets on github alrea

[2021-08-12 18:19] #54 closed

[2021-08-12 19:01] yarikoptic opened #58 "seems to be choosing "prior" (wrong) commit to git tag for a release"
Testing on 000003 (was pushed to https://github.com/dandisets/000003 a few hours back).

When I ran

[code]

on drogon, it produced a tag, which was not pushed (should have been I guess),  which I now pushed (we can delete later) which points to prior commit
[code]
where metadata didn't have `publishedBy` for assets yet...

Even after I removed tag and reran -- consistently was tagging that commit

[2021-08-12 19:54] yarikoptic commented on #58
for a remote it pushes what is configured to be pushed for that remote (at git level)... long story short - probably best would be to just follow up with with an explicit `ds.repo.call_git(['push', *new_tags])` or alike, so we do not resort to pushing all tags.

[2021-08-12 20:09] yarikoptic opened #61 "Do needed dances in github CI to get things installed"
libhdf5 fights back, see runs for https://github.com/dandi/dandisets/pull/59

[2021-08-12 20:11] jwodder commented on #61
Already handled by #60.  The remaining failure is because I'm pushing from a fork and so the action doesn't have access to the `DANDI_API_KEY` secret.

[2021-08-12 20:13] yarikoptic commented on #58
I will check in greater detail in a minute, but it seems that we

- need to consider two commits -- right before and right after (yet to see what we use for commit date and how what we observed could happen)
- assets metadata **must** be compared as well
   - if any matches exactly -- that is the commit (if both match somehow, shouldn't happen -- assert!)
   - if none matches -- create release bra

[2021-08-12 21:08] yarikoptic commented on #58
right... we can't rely on the commit date as the sole filter in
[code]
and we tune those to correspond, both AUTHOR and COMMITTER... sent out https://github.com/dandi/dandisets/pull/62 to set only AUTHOR.  Also I am not sure even if we were setting it correctly

[code]
so the  f2da8ee got commit for 11:17:15-04:00 which would be 15:17:15Z although `modified` for draft still is 14:48:45.203390Z (an

[2021-08-12 21:13] yarikoptic commented on #61
next one is
[code]
as can be seen in https://github.com/dandi/dandisets/pull/62

[2021-08-13 13:55] #61 closed

[2021-08-13 20:51] yarikoptic commented on #58
clarification: since released dandiset metadata (dandiset.yaml) should carry `doi` and `publishedBy` fields, whenever `draft` not, all release tags should reside on dedicated release commits (temporary branches, tagged) , so in above in both cases release tag should not be on the main branch, but off one of those commits

[2021-08-13 20:54] yarikoptic commented on #58
above comes with "cons" of `git describe` (which I really like) being defunc in such dandisets. In principle we can establish merges back into the main tree of all unmerged releases (or even rewriting not yet pushed history to make it better) while taking main branch tree as the target (so nothing really merged), but I do not think yet this game/ugliness is worth the candles.

[2021-08-13 21:02] yarikoptic opened #67 "git merge -s ours <latest tag> upon finishing processing of the dandiset"
Extract of https://github.com/dandi/dandisets/issues/58#issuecomment-898715301 -- I quickly changed my mind as I think for all means and purposes, and with cron job running frequently enough it would look not that bad and definitely would be useful for any `git describe` junkies as I am.

We should should be sure to not merge some older tag, which somehow appeared whenever a newer one was already

[2021-08-16 13:45] jwodder commented on #58
@yarikoptic Given that many commits don't have their dates set correctly, how exactly should the search for a matching commit work?

[2021-08-16 15:27] yarikoptic commented on #58
I wouldn't sweat about it for those which didn't have correctly -- let's do our "best attempt", as I described in https://github.com/dandi/dandisets/issues/58#issuecomment-897936936  -- consider two commits (or whatever the number of direct kids that commit got on the main branch), and choose one with matching assets, if none -- choose the later one.  In either case we need an off-master branch co

[2021-08-16 21:25] yarikoptic opened #70 "Use different names/emails for COMMITTER and AUTHOR"
Also, since we are now differentiating between dates from archive and local "activity" dates -- use also different users for COMMIT and AUTHOR.

- use `DANDI Team <help@dandiarchive.org>` for the COMMITTER
- but use `DANDI User <info@dandiarchive.org>` for the AUTHOR (I hope eventually we will get a real user who clicked "Publish" used here)

Primary use case for me is to make it easier to say who

[2021-08-17 17:40] #58 closed

[2021-08-17 20:48] #67 closed

[2021-08-17 21:07] yarikoptic commented on #57
Let's do that now, while we are still distilling down the solution for handling the releases/tagging/authors anyways and service is not "live" ATM.

[2021-08-18 16:40] jwodder commented on #57
@yarikoptic When creating a dataset with `ds.create()`, how do I set the initial/default branch to "draft"?

[2021-08-18 16:45] yarikoptic commented on #57
try smth along the lines of

[code]

[2021-08-18 18:26] jwodder commented on #57
@yarikoptic I've updated the default branch for the currently-existing datasets, but I'm holding off on re-enabling the cronjob until after #72 is merged, as it alters the default branch for newly-created datasets.

[2021-08-18 18:33] #70 closed

[2021-08-18 19:13] jwodder commented on #57
Cronjob re-enabled.

[2021-08-18 19:19] yarikoptic commented on #57
cool, I guess you mean
[code]
? this one is just a backup from s3 , not triggering all the backups2datalad business which I disabled after originally these instructions were written I believe -- it is one commented out above this one.  We will enable it later.

I also wonder if we should switch `dandisets` itself to `draft` since all commits it would be pointing to, would be the "draft" branches t

[2021-08-18 19:43] yarikoptic opened #74 "fully delete test dandisets from dandi-staging upon completion"
https://github.com/dandi/dandi-api/pull/480 was merged, we use my key ATM on github, so we should be able to proceed and properly cleanup after ourselves upon completion of the test (regardless of the outcome) since by now we amassed a good number (probably majority) among all 120 present there.

- also need to cleanup (separate script/invocation) already existing dandisets (you are admin there @j

[2021-08-19 14:31] #74 closed

[2021-08-19 14:31] jwodder commented on #74
@yarikoptic Dandisets on staging cleaned up.

[2021-08-19 14:33] yarikoptic commented on #57
all PRs are merged, will rename master to draft in this repo as well now, do more testing, and then if all looks kosher -- reenable cron job. Thank you @jwodder for all the work

[2021-08-19 14:38] jwodder commented on #74
Test Dandisets on staging deleted.

[2021-08-20 02:33] yarikoptic opened #76 "add number of releases to description"
now says e.g.

"4 files, 20.7 MB, Test dataset for development purposes"

for 000029, should say (if more than 0 releases, do not add anything if no releases yet)

"4 files, 20.7 MB, 5 releases, Test dataset for development purposes"

[2021-08-20 13:59] #76 closed, assigned to jwodder

[2021-08-23 19:39] yarikoptic commented on #57
we are done with this -- all systems are "deployed", and https://github.com/dandi/dandisets/ is regularly updated in its `draft` branch

[2021-08-23 19:39] #57 closed

[2021-08-26 19:40] yarikoptic opened #78 "Switch to use "/assets/{id}/download/" url instead of draft-specific asset id based one"
in https://github.com/dandi/dandisets/blob/draft/tools/backups2datalad.py#L263 we use
[code]
and that `RemoteAsset` .download_url is bound to that specific (which is "draft") version of the dandiset, e.g.

[code]
Assets mutate in "draft" rendering those URLs eventually obsolete even if that asset was e.g. published in some version.  That causes git-annex to try first a URL which no longer there, d

[2021-08-26 19:51] yarikoptic opened #79 "Rewrite all draft dandiset_version bound URLs in git-annex to be top level /assets"
We better first fix population of those urls (#78) , and then sweep through all existing datalad datasets and replace prior dataset version bound with top level like

[code]
to top level
[code]

So we need a new command `tools/backups2datalad.py make_asset_urls_top_level [DATASETS]` which would `unregisterurl` / `registerurl` .

- I think `git annex whereis --all --json` provides us with the list

[2021-08-26 20:05] jwodder commented on #78
@yarikoptic I'm thinking that `download_url` should be kept as-is for `RemoteAsset`s and removed from `BaseRemoteAsset`s, and a `base_download_url` property should be added to both that uses `/assets/{id}/download/`.

[2021-08-26 20:08] yarikoptic commented on #78
ok, sounds good, please implement in dandi-cli and then use it here.  I somewhat dislike proliferation of those *download_url's but that would indeed nicely reflect the situation (we do have multiple endpoints).

[2021-08-26 20:51] #78 closed, assigned to jwodder

[2021-08-27 13:00] jwodder commented on #79
@yarikoptic Why does this need to be a `backups2datalad.py` subcommand?  I don't see how it'll use the required global options `--assetstore` and `--target`.

[2021-08-27 13:04] yarikoptic commented on #79
Doesn't have to be. I just thought it would be logical to collect all related support functionality as commands of that script.

[2021-08-27 13:22] jwodder commented on #79
@yarikoptic I'm finding it simpler to do this via the Datalad API rather than by calling git-annex directly.  Is passing `batch=True` to `ds.repo.add_url_to_file()` (`rm_url()` doesn't have a `batch` option) the proper equivalent of `'-c', 'annex.alwayscommit=false'`?

[2021-08-27 13:42] yarikoptic commented on #79
Ok. I think it should be. Just check on a sample dandiset other history of git-annex branch if or results in expected single commit. Not sure if we have interfaced unregisterurl though

[2021-08-30 17:47] #79 closed, assigned to jwodder

[2021-09-08 14:45] yarikoptic opened #82 "github.GithubException.UnknownObjectException"
spotted in the recent cron logs, and can't grasp from this traceback  consisting only of click and github what is going on/what should be done (retry (then where?) or logic tune up if it checking for something)

[code]

[2021-09-08 15:11] jwodder commented on #82
@yarikoptic The failure was due to a 404 occurring here:

https://github.com/dandi/dandisets/blob/e005f11867ec80be4153c30515e6d7ced0790d96/tools/backups2datalad.py#L183-L185

Based on the line output before the traceback, I'm assuming that the script was operating on 000141 at the time, and it appears that the `ds.create_sibling_github()` call a few lines before was successful (as https://github.c

[2021-09-08 20:25] yarikoptic commented on #82
Thank you @jwodder for the analysis!!!

- FTR: according to my mail search - it was the first and only incident so far.
- I have now pushed that dandiset manually (there is no data)
- it seems that invocatoin of that helper needs tune up to not talk to DANDI API on that "end point" (not sure how it worked for other dandisets if they use the same helper, or may be there were no new dandisets since

[2021-09-09 12:51] jwodder commented on #82
@yarikoptic That was a copy & paste error on my part; the command I gave had "`update-from-backup update-github-metadata`" where it should have just been "`update-github-metadata`".  The correct full command is:

[code]

[2021-09-09 15:38] yarikoptic commented on #82
Thank you -- that worked!  I guess I will close this one for now, and let's reopen if/when `github.GithubException.UnknownObjectException` resurfaces

[2021-09-09 15:38] #82 closed, assigned to jwodder

[2021-09-17 19:19] yarikoptic opened #83 "A script to produce the "diff report""
Purpose: produce reports for dandi archive dataset contributors, for reporting back to funders.  Reporting periods could differ between datasets, thus just having a generic tool would be the best initial step to implement it.

Attn @satra, please provide your feedback on the following design -- anything to add?

[code]

Statistics should include

- assets:
  - number and size of added, changed (as

[2021-09-17 20:29] jwodder commented on #83
@yarikoptic

Do you want the total sizes of all added/changed/removed assets, or a list of each asset's size, or a mapping from path to size, or what?

I assume that by "last published" you mean "last published between `--from` and `--to`".  What if there is no published version within the given timeframe?

[2021-09-17 20:55] jwodder commented on #83
@yarikoptic Also, should commits containing old-format `.dandi/asset.json` files be ignored by this script?

[2021-09-17 21:36] yarikoptic commented on #83
re asset.json "format", forgot that things might have changed etc.  May be we should just use file listing from git/annex -- it has checksums (identity), so we can also identify renames -- we should not claim deleted/added for those but rather just that -- renamed (if checksum stays the same).

it should be a summary -- so no individual file names in the report -- just total counts/sizes.

if ther

[2021-09-20 13:27] jwodder commented on #83
@yarikoptic Should this script only count NWB files or all annexed files?  Or all files, both annexed and non-annexed (excluding those under dot directories)?

[2021-09-20 13:46] yarikoptic commented on #83
Exclude .datalad, count everything else. Later we might decide to provide per file type stats but might not be needed etc

[2021-09-20 14:02] jwodder commented on #83
@yarikoptic
* If an asset is renamed and a different asset is added to the original path, how should that be reported?
* How should multiple copies of the same asset in the same revision be handled?  In particular, if a copy of an asset is made between revisions, how should that be reported?  What if two copies are made and the original is deleted — is that a rename and a copy, two copies and a re

[2021-09-20 15:06] yarikoptic commented on #83
I put us in the corner of the --sync again (https://github.com/dandi/dandi-cli/pull/635) ;)  but here it is at least simpler, since we can completely ignore file paths, and operate on checksums/annex keys of the files.    So, let's forget about "renames" (path dependent), and just report on number/amount of added/removed assets (as content), and only report # and size of duplicates (paths reusing

[2021-09-20 15:30] jwodder commented on #83
@yarikoptic

* The report is a comparison between commits, not a summary of a single commit.  Should it just report the number of duplicates in the later commit, or the difference between the number of duplicates, or what?
* How are duplicates counted?  If the same key occurs at *n*>1 paths, is that 1 duplicate, or *n* duplicates, or *n*-1 duplicates?

[2021-09-20 15:38] jwodder commented on #83
@yarikoptic Also, if multiple copies of an asset are added/removed, should that be counted as one addition/removal or multiple, and should the total size of added/removed assets count the copies once or for each path changed?

[2021-09-20 16:01] yarikoptic commented on #83
yet another good point.  Let's just report duplicates "changes" as "diff" between numbers of how many duplicates were present in first and 2nd state.  So duplicates could be added and removed.  could also state how many duplicates are actually left.

`n-1`.

sorry, don't grasp this one fully, but yes -- if multiple copies added/removed -- count only once.  Once again -- operate on lists of checksu

[2021-09-20 16:43] jwodder commented on #83
@yarikoptic So, to be clear, given a `collections.Counter` instance `keys1` counting all the occurrences of keys in the earlier commit and an instance `keys2` for the later commit, the difference between the commits' *distinct* assets is reported as something like:

[code]

But are the duplicates reported as just a delta between the total number of duplicates for each commit, like so:

[code]

or

[2021-09-20 16:54] yarikoptic commented on #83
seems to be right, and I think the former one would suffice for duplicates.

[2021-09-20 18:51] yarikoptic opened #84 "Allow for archive to grow without filling up drogon"
soon poor drogon will not be able to afford keeping the backup of the entire archive. I see two possible ways

### 1 drop "old" content

we could just start dropping some (if not most) old content from the "girderarchive" and all dandisets, and `get` it only if needed (withing the large "girderarchive"), and do the same what we did before otherwise.

I think this would be the easiest way although

[2021-09-23 16:48] yarikoptic opened #88 "crawler: local variable 'start' referenced before assignment"
had two similar errored out runs recently
[code]

[code]

[2021-09-29 15:53] yarikoptic commented on #84
ok, I think we should just proceed with `1+2 = 3`:

# 3 RF to operate without "girder/blobs store" backup, still downloading/backing up to special remote

- stop using `girderarchive` : so we will not be backing up the entire bucket but only the dandisets and their assets . So no `datalad crawl` nor `s3cmd` fixups
- adjust our backups2datalad.py so
  - for a new asset:
    -  if not yet known to t

[2021-09-29 16:03] jwodder commented on #84
@yarikoptic

* I'm assuming that the git-annex key for an asset can be calculated from just the metadata with `f"SHA256E-s{asset_size}--{sha256_digest}.{extension}"`; is that correct?
* Aren't the SHA 256 hashes in metadata filled in by a background process on dandi-api?  If so, isn't it possible for a recently-uploaded asset to lack a SHA 256 digest in its metadata?  How should that be handled?
*

[2021-09-29 17:44] yarikoptic commented on #84
yes, but
- extension "algorithm", ref: https://github.com/datalad/datalad/pull/5861 , is not "trivial"
- ideally we should just make git-annex "mint" a key for us, so please check on how to do that using `examinekey`, as done e.g. within https://github.com/datalad/datalad/blob/HEAD/datalad/local/addurls.py#L882 (might need freshish git-annex, forgot when joey added support for that, but it was rec

[2021-09-29 19:20] jwodder commented on #84
@yarikoptic

`examinekey` appears to be for getting information for a key that you already have, and I don't see anything in the linked code for minting a key, nor can I find any git-annex subcommands for computing a key without already having the entire file.

[2021-09-29 20:58] yarikoptic commented on #84
so give it some "not exactly the right key", e.g. sha256 one (for which you have all the information):

[code]

or the entire path:
[code]

note that with "--batch" you could keep feeding it with new entries, thus making it more speedy.  We have a helper `BatchedAnnexes` in datalad if you decide to use that one instead of coding yourself.

[2021-09-30 12:47] jwodder commented on #88
@yarikoptic `backups2datalad.py` doesn't have any variables named "start".  I think that error may be coming from boto's S3 code.

[2021-09-30 13:14] yarikoptic commented on #88
Even more likely datalad_crawler. But with #84 we might stop using it anyways

[2021-10-01 14:38] jwodder commented on #84
@yarikoptic

* How do I check whether a key is known to git-annex?  None of the commands seem to cover this.
* How do I check whether a key is present in `dandi-dandisets-dropbox`?  Do I do `git-annex checkpresentkey $KEY dandi-dandisets-dropbox`/`annexrepo.is_available(key, remote="dandi-dandisets-dropbox", key=True)`?

Do you mean that you only want to consider the longest initial (by creation d

[2021-10-01 14:55] yarikoptic commented on #84
could be `git annex whereis --batch-keys --json` (seems to need most recent `8.20210903`, updated in dandi@drogon `dandisets` conda env) and ignore exit code which seems to be non-0 if some key  is not known:

<details>
<summary>example</summary>

[code]
</details>

and assume that if ~~0 copies~~ `"success":false` - not known.  May be there is a better way (@joeyh?)

yes AFAIK, or can just use ou

[2021-10-01 15:42] jwodder commented on #84
@yarikoptic Problem: DANDI Archive's "Get asset metadata" endpoints only return asset metadata, without any of the fields (including "created") listed when paginating through assets.  As `dandi/dandiapi.py` needs to support initializing asset objects from just metadata, and as asset metadata does not include a "created" date, `dandiapi.py` asset objects do not provide or store the "created" date,

[2021-10-01 15:59] yarikoptic opened #89 ""Debounce" additions to git-annex"
I only now realized that by using
[code]
 we are producing a separate commit per each added file!  Although it is possibly most reflective of the evolution of the dataset, and makes it easier to guarantee that there is a state of the dandiset which is possibly released, it leads to "heavy" git history virtually for no UX benefit.  An alternative would be to "debounce" such additions but it might r

[2021-10-01 16:03] jwodder commented on #89
@yarikoptic What exactly do you mean by "debounce"?  Can't we prevent the creation of separate commits by passing `save=False` to `download_url()`?

[2021-10-01 16:07] yarikoptic opened #90 "parallelize operation"
with growing size of the archive, going serially through the files becomes suboptimal -- we really do not saturate the bandwidth.  Two choices
- an ideal way would be to parallelize download/addition of new files at git-annex level. After #84 RFing I expect us to just use `annex addurl` and `annex registerurl` (filed relevant https://github.com/dandi/dandisets/issues/89).  There is  `annex addurl

[2021-10-01 16:15] #83 closed, assigned to jwodder

[2021-10-01 16:45] yarikoptic commented on #84
well, I guess we need to figure out how to tune up `dandi/dandiapi.py` to expose those fields as well. But meanwhile
- we can just use api endpoint directly for listing asset records, e.g. `curl -X GET "https://api.dandiarchive.org/api/dandisets/000027/versions/draft/assets/" -H  "accept: application/json"`
- and use `created` from there... but I also wonder if `modified` which we already somehow

[2021-10-01 16:50] jwodder commented on #84
@yarikoptic

It appears that `checkpresentkey` works by connecting to the remote; trying the command out on the main dandi/dandisets clone on drogon fails with "remote currently unavailable or git-annex-remote-rclone failed to parse rclone output".

As for using `git-annex whereis`, for some reason the description for the dandi-dandisets-dropbox remote in whereis's output encloses the remote name

[2021-10-01 16:53] yarikoptic opened #91 "robustify datalad's downloader?"
updating the substantially grown (without a copy in the "full S3 backup of the bucket") 000026 eventually errored out with
[code]
where the code says
[code]
so it seems should be just a matter of adding a config variable and mocking it away to 1 in the tests...
positive side-effect of us committing each file (see #89 - might change) I think it should be safe to just restart and we might even do re

[2021-10-01 16:59] yarikoptic commented on #89
;-) I called it "stagger" or "group" before, but then @waxlamp educated me about the "more proper" term.  The point is to not execute some action (e.g. "commit") right away whenever an event (e.g. new file added) happened.  And yes -- passing `save=False` would allow to avoid commit on each file addition.  But the actual interesting design aspect is to come up with optimal logic on when to trigger

[2021-10-01 17:06] yarikoptic commented on #91
notes: as it "stroke me" while talking about debouncing in https://github.com/dandi/dandisets/issues/89#issuecomment-932395440, by committing each downloaded file we ended up with an "inconsistent" state where .dandi/assets.jsonld are not actually reflecting what is present on the drive:
[code]
and our logic is:
[code]
but it is conditioned on `to_update` for which we rely on dandi_hash comparison

[2021-10-01 17:15] yarikoptic commented on #84
just strip `[` and `]`.
Enclosing in brackets IIRC just means that it is an enabled remote.  I would expect all of them to have it enabled, but better to not assume that.

[2021-10-01 19:57] jwodder commented on #84
@yarikoptic Should the `--assetstore` functionality of the script be removed completely, or is it still possible that it'll continue to be used?  If the latter, what should happen if an asset exists in the assetstore but the Dandi Archive metadata lacks a SHA256 hash?  Should the hash be computed from the assetstore file, or should the asset not be copied?

[2021-10-01 20:45] yarikoptic commented on #84
greedy me wants to say to keep that functionality, but I think -- let's just forget about --assetstore.

[2021-10-07 19:12] jwodder commented on #89
@yarikoptic

Note that using just `version.created` to check for a release state won't catch assets deleted between the last run and the creation of the version, as the only way to identify deleted assets is by processing all current assets.  If we wanted to make more work for the dandi-api team, one way to handle all of this would be to add an endpoint to the API that returned a log of asset crea

[2021-10-07 19:58] yarikoptic commented on #89
well, the "audit" of actions is planned/being talked about, e.g. https://github.com/dandi/dandi-api/issues/525  but it would take awhile for us to get there.

Since we can "release" a published release from a modified state of a commit in the main (`draft`) branch, I think it would be ok if next commit in `draft` does not have some assets removed and for the release we do need to remove them in th

[2021-10-09 13:33] yarikoptic opened #93 "Make "backup" operation "out of band""
Related to #84 (to be addressed by # ) and #89 . I think we should
- mint annex keys and add files/urls without actual download of the content (could be extremely large) - will make "dataladification" fast and feasible to eventually happen straight on dandi-api instance
- have an out of bound process to actually (should do in a batch)
  - `git annex get` (or `datalad get`) the file (actually proba

[2021-10-11 14:43] yarikoptic commented on #93
FTR, ATM I am doing
[code]
to
- move (not just copy) what we have locally but not in dropbox
- verify that all are transferred
- `drop` locally

in principle, `move` should be sufficient (would kill two birds at once -- `copy` + `drop` AFAIK) and concise.

[2021-10-19 13:58] yarikoptic opened #95 "ruamel.yaml conda dependency "is not enough""
I cannot try any of current PRs (such as #94) because instantiation of a new conda + pip environment results in inability to `import ruamel.yaml` within dandi-cli , which I also reported to https://github.com/conda-forge/ruamel.yaml-feedstock/issues/153 .
Odd enough the import works in "conda build" environment as was tried in https://github.com/conda-forge/dandi-feedstock/pull/56 and even tried a

[2021-10-19 14:00] jwodder commented on #95
@yarikoptic Have you tried just creating a non-conda virtualenv and installing the requirements with pip?

[2021-10-19 14:06] jwodder commented on #95
@yarikoptic In your environment, if you do `conda install -c conda-forge ruamel_yaml`, can you then `import ruamel_yaml` (EDIT: or `import ruamel_yaml_conda`?)  If so, I can modify the script to try both imports.

(Incidentally, `ruamel_yaml` seems to come from [here](https://github.com/conda-forge/ruamel_yaml-feedstock); it's `ruamel.yaml` with some patches.)

[2021-10-19 14:19] jwodder commented on #95
@yarikoptic The commit message for [this commit](https://github.com/conda-forge/ruamel_yaml-feedstock/commit/8a5610bd2f31aa039527c0e792bdc33a44e74a74) might be relevant to your problem.

[2021-10-19 15:04] yarikoptic commented on #95
uff... that is quite an ugly backstory:  It makes little sense to demand upstream code to cater the distribution (conda). And I am still confused on how it worked before since I believe it used to work (but I could be wrong), and also -- why `ruamel.yaml` is not enough, i.e. what is wrong with that feedstock? what is missing and/or how the heck it works in the conda build env.

[2021-10-19 15:06] jwodder commented on #95
@yarikoptic Seeing as installing ruamel.yaml works fine for me in a Docker container, perhaps your Conda is out of date somehow?

[2021-10-19 15:12] yarikoptic commented on #95
do you mean that after running
[code]
you are getting an importable `ruamel.yaml`?

edit: I am meanwhile updating conda on dandi@drogon (`4.9.2-py38h06a4308_0 --> 4.10.3-py38h06a4308_0`)

[2021-10-19 15:15] jwodder commented on #95
@yarikoptic Yes, that works for me both in a Docker container and on drogon.

[2021-10-19 15:15] yarikoptic commented on #95
damn it... I updated `conda` in the `base` env (had to leave `dandisets`) and then ran that `create` right there (in `base` not `dandisets` if that anyhow matters) and then import worked... uff...  I guess I will stop troubleshooting further - will finally try to test PRs ;)

[2021-10-19 15:15] #95 closed, assigned to jwodder

[2021-10-25 20:00] yarikoptic commented on #89
I think we really need such "debouncing".  With a single file addition for 000108 we are now at  14k commits in that poor monster repo and that is not yet an entire dataset fetched:

[code]
FWIW that dandiset does not have any published version ATM, so in principle the rest of the files (~20TB if my algebra is correct) could be added in a single commit.

[2021-10-28 15:43] yarikoptic opened #98 "Add coverage tracking + submission to codecov"
Just now realized while reviewing #97 that we are not submitting coverage to codecov.  Not sure if `async` nature of implementation would be somehow in the way, but I guess we would at least get some code annotated with coverage.

Could be done as part of the #97 or a separate PR

[2021-10-28 16:35] jwodder commented on #98
@yarikoptic Coverage added to #97.

[2021-11-06 20:51] #89 closed, assigned to nobody

[2021-11-06 20:51] #84 closed, assigned to jwodder

[2021-11-06 20:51] #90 closed, assigned to jwodder

[2021-11-10 20:07] yarikoptic commented on #98
so let's consider addressed

[2021-11-10 20:08] #98 closed, assigned to jwodder

[2021-11-10 20:11] yarikoptic opened #99 "delay saving updated assets.json until really to be saved or process interrupted"
I had ran the cron job and was surprised it "working" since yesterday and no data really flowing in.

It seems just spending time rewriting `.dandi/assets.json` upon each asset "consideration" as I have asked.  But it seems that such constant dumping "does not scale", in particular for heavy in number of assets datasets such as 000026.

I think that code should get RFed to revert to previous "save

[2021-11-11 15:00] jwodder commented on #93
@yarikoptic

* If we add files by key without downloading them, how do we determine whether a file is a text file and thus should be excluded from git-annex?
* At what point should the out-of-band process be started, and by what point should it end?  Do you want it to continue running even after the main backup script finishes?  Do you want it to be started/managed by the backup script or manually

[2021-11-11 16:37] yarikoptic commented on #93
good questions!
- `git` vs `git-annex`: I guess we could start by deciding based on the file extension (.txt, .md, .yaml, .json and anything else we have in git not annex across dandisets ATM).  Theoretically (not sure if "ideally" since seems complex) - we could check if `python3-magic` somehow goes through python layer to open file, then we could use fsspec overloading `.open` and thus providing

[2021-11-11 19:25] jwodder commented on #93
@yarikoptic What should the cronnable script's syntax be?  Would it just take a path to the backup superdandiset, possibly with a list of dandisets to get or exclude from getting?

Also, is there really a need to batch this?  Once the files are registered with git-annex, it seems you could download them with something like `git-annex get --not --in dandi-dandisets-dropbox  --and --not --in here`.

[2021-11-11 21:00] yarikoptic commented on #93
I think so.  I think also it should be just one more command in addition to the one(s) we already have in the `backups2datalad` .

correct -- that new command would be quite trivial -- just `get` and `move` .  Attention should be paid to failed `get`s though -- if we fail to download for some reason or checksum doesn't match the one we have in git-annex.

[2021-11-11 21:37] #99 closed, assigned to jwodder

[2021-11-12 15:46] jwodder commented on #93
@yarikoptic

I believe `get` will exit with failure if any download fails.  Is that sufficient, or should the script monitor the command's output for details?

[2021-11-12 17:10] yarikoptic commented on #93
don't know yet -- for now just failing when `get` fails (may be ran with `-c annex.retry=3` to account for possibly unstable connections etc) - output return records and or stderr  should suffice so we could troubleshoot and adjust accordingly if needed

[2021-11-12 20:42] yarikoptic opened #101 "double count of releases in github description"
mentioned that https://github.com/dandisets/000142
has
[code]

[2021-11-15 15:50] #101 closed, assigned to jwodder

[2021-12-04 17:11] yarikoptic opened #104 "move save functionality from -cron to main script"
ATM in https://github.com/dandi/dandisets/blob/draft/tools/backups2datalad-cron#L33 we ave

[code]

`save` should be performed at the end of the `update-from-backup` **only** for the subdatasets which were processed (so account for `--exclude`d ones to not be saved

[2021-12-06 14:19] jwodder commented on #104
@yarikoptic Do you want the script to save the datasets that were *processed* or just the ones that were *changed* for this run?  This could make a difference if the script crashes after updating one or more datasets and is then rerun with the same options.

[2021-12-06 21:55] yarikoptic commented on #104
Let's do _processed_ for the reason you outlined (thanks!). Also could make a difference if somehow there were "parallel" runs of the backup utility.

[2021-12-08 20:26] #104 closed, assigned to jwodder

[2022-01-07 15:27] yarikoptic opened #106 "can't get `COMMAND --help` without specifying -T"
[code]
a quick solution could be: make `-T` optional and default to CWD (`.`) if not specified?

[2022-01-14 20:59] yarikoptic opened #109 "When processing all dandisets (no excludes), add/adjust total size to this `dandisets` description"
ATM we have About's of all dandisets nicely providing summary stat (e.g. "101 files, 2.6 TB") for each dandiset.
It would be useful also for this repository to have it similar like "XX dandisets, YYY TB total. DataLad super-dataset of all dandisets from https://github.com/dandisets".  That would allow us to get a quick assessment if our datalad'ified version covers all the data which https://gui.d

[2022-01-17 15:34] jwodder commented on #109
@yarikoptic Note that the stats in the per-Dandiset "Abouts" are taken from the API rather than based on what's actually in the repositories, so this wouldn't necessarily give an always-accurate reflection of whether all data has been dataladified.  Do you still want to proceed?

[2022-01-17 18:12] yarikoptic commented on #109
thanks! I did not realize it is coming from API.

Could we please change that to be based on the actual dataset file tree?

- could be done through manual traversal or might be better/easier to just use `datalad -f json_pp status --annex  basic` invocation and sum entries up  (we can't just use `git annex info` since we would miss non-annexed files)
- we should ignore `.dandi/*.json` and `.gitattr

[2022-01-18 13:52] jwodder commented on #109
@yarikoptic What about `dandiset.yaml` and `.datalad/*`?  Should those be ignored or counted?

[2022-01-18 16:51] yarikoptic commented on #109
yeah, let's ignore those too - that should really make us match in size.

[2022-01-18 17:50] #106 closed, assigned to jwodder

[2022-01-18 17:51] #109 closed, assigned to jwodder

[2022-01-18 20:06] yarikoptic opened #111 "dandisets superdataset description says "1 Dandiset, 175.2 TB total. ""
Continuation to https://github.com/dandi/dandisets/pull/110 which resulted in https://github.com/dandi/dandisets/ to have "1 Dandiset, 175.2 TB total." probably corresponding just to https://github.com/dandisets/000108/tree/draft, not the summary of all dandisets.

FWIW invocation was as coded in https://github.com/dandi/dandisets/blob/draft/tools/backups2datalad-cron

[2022-01-18 20:10] jwodder commented on #111
@yarikoptic Did you run the command with `--target` set to `/mnt/backups/dandi/dandisets` on drogon or something else?

[2022-01-18 20:38] yarikoptic commented on #111
yes, I have ran on drogon what cron job runs
[code]
and that script does set --target from what I see to point to `/mnt/backups/dandi/dandisets`

[2022-01-18 21:18] #111 closed, assigned to jwodder

[2022-01-20 15:35] yarikoptic opened #113 "backup2datalad-cron: "Not found" crash for a github repo"
From today's run
[code]

Didn't check in detail on what dandiset (cron script filters out lots of messages) or what could have lead to it .

[2022-01-20 16:14] jwodder commented on #113
@yarikoptic Is this all the logs there are?  Can I find more somewhere?

My best guess at the moment is that there was some sort of race condition where `create_sibling_github` returned before the GitHub repository was fully created.

[2022-01-20 17:49] yarikoptic commented on #113
presumably we should have explicit logs but that exception is not there
[code]
may be we should add "catch all" try/except/log+reraise within main entry point?

as for from cronjob -- no other logs besides what is in that email (and "highly filtered out").

<details>
<summary>subsequent run errored out with 500</summary>

[code]
</details>

[2022-01-20 17:53] jwodder commented on #113
@yarikoptic `.dandi/logs/*` only stores logs for what happens during asset downloads; GitHub interaction happens after.

Is what you posted the entirety of what was in that e-mail?  What's doing this filtering?

[2022-01-20 20:03] yarikoptic commented on #113
nope.

<details>
<summary>here is a full content FWIW</summary>

[code]
</details>

this grep: https://github.com/dandi/dandisets/blob/draft/tools/backups2datalad-cron#L33  but apparently it doesn't filter much.  The idea was -- to produce output (thus something to email about) only if there is something to worry about.  Since then logging has changed considerably and there is always some output.

[2022-01-20 20:15] jwodder commented on #113
@yarikoptic Is the problem still happening?  If it is, I'd like to see the logs with the log level turned up to DEBUG.

[2022-01-20 20:31] yarikoptic commented on #113
committed (and pushed) 96334fe9359dff182dd8b26dfab3bfb75442ba2d  . ATM another run is running though (only now realized it) so I guess it would fail since that is a bash script so prone to unexpected behavior if modified while running

[2022-01-20 21:17] yarikoptic opened #114 "Number of "Text Dandiset" on staging server grows"
https://gui-staging.dandiarchive.org/#/dandiset/search?search=Test%20Dandiset%20Wodder shows having 3 pages.

I guess they aren't cleaned up/removed properly at the end of the fixture?

[2022-01-20 21:20] jwodder commented on #114
@yarikoptic The dandi-cli tests don't touch staging.  These would have to have been created by the dandi/dandisets backups2datalad tests.

[2022-01-21 14:42] yarikoptic commented on #114
ok, transferred this issue to `dandisets` repo

[2022-01-21 14:49] jwodder commented on #114
@yarikoptic I'm not sure about this.  Obviously, the cleanup works most of the time, or else there would be a lot more Dandisets.  What exactly do you want me to do about this?

[2022-01-21 15:26] yarikoptic commented on #114
- investigate why/how we could be breeding more of those dandisets and ensure that we no longer do (well -- to the degree possible)
- wipe out those which are already populated on staging

[2022-01-21 16:02] #114 closed, assigned to nobody

[2022-01-21 19:59] yarikoptic commented on #113
well, that error is gone. FWIW there is a DEBUG level log from a sample run (without error) on drogon under /tmp/backuprun.log . I have reverted to WARNING level so I could still get those cron emails (with DEBUG level they aren't delivered due to their size).  May be we should somehow improve -cron so we do get a full output in some log file while dumping into stdout only some high level summary.

[2022-01-26 14:55] yarikoptic opened #117 "stats are printed twice"
I see in the output sent by cron job

[code]

- seems for each dandiset printed twice
- would be nice if dandiset name was included since not clear what stats are for

[2022-01-26 14:59] jwodder commented on #117
@yarikoptic backups2datalad isn't the one printing those messages.  They seem to be emitted by DataLad when `ds.status()` is called to check whether a given dataset has any changes that need to be committed.

[2022-01-26 15:27] yarikoptic commented on #117
oh, you are correct -- comes from some call(s) to `status`.
We have
[code]
let's add `result_renderer=None` to all of them?

[2022-01-26 16:04] #117 closed, assigned to jwodder

[2022-02-02 15:08] yarikoptic opened #119 ""Connection aborted." from github -- should sleep/retry"
<details>
<summary>recent cron job failed with the following output provided</summary>

[code]
</details>

I guess that is the location
[code]
if safe (didn't check context) -- we should just retry

[2022-02-02 22:16] #119 closed, assigned to jwodder

[2022-02-03 17:48] yarikoptic opened #121 "dump logs at DEBUG level under `.git/dandi/backup2datalad/{timestamp}.log`"
Reflecting on difficulty to troubleshoot some tricky cases, https://github.com/dandi/dandisets/issues/113#issuecomment-1018817670, let's dump logs at DEBUG level into a file.

[2022-02-03 17:59] jwodder commented on #121
@yarikoptic Is this supposed to be a per-Dandiset log file like the current log files, or a single file stored in the superdandiset?  Should DEBUG messages from third party libraries like urllib be included?

[2022-02-03 18:03] yarikoptic commented on #121
Since everything is bolted on top of operation of superdataset, it is ok (if easier) to store one. We considered parallelization across dandisets (https://github.com/dandi/dandisets/issues/90) but I don't think we ever parallelized across dandisets, so dumping 1 log would suffice and would make it easier on "inodes" for us ;)  But if you see that it is easier to dump per dandiset (and in superdata

[2022-02-03 19:40] #121 closed, assigned to jwodder

[2022-02-04 20:58] yarikoptic opened #123 "minimize storage impact from logging"
#122 enabled logging into a file at DEBUG level, which could come of great use for troubleshooting in case of errors.

But each log file is about 19MB and in a day we already amassed 0.5GB of them.  Clearly it is a bit "wasteful" and we should do something about that. Some ideas

- keep the log only if run errored out and otherwise remove (should probably be possible to setup I bet)
- gzipping fol

[2022-02-04 21:16] jwodder commented on #123
@yarikoptic Deleting the logfile on successful exit seems easier to implement.

[2022-02-17 14:35] yarikoptic opened #124 "need to guard get_github_repo(f"{gh_org}/{d.identifier}") (or any interaction with github) against 500"
initially observed (code was before recent RF to guard against other errors) https://github.com/dandi/dandisets/issues/113#issuecomment-1017763941 and in today's cron job:

[code]

[2022-02-17 16:25] yarikoptic opened #126 "crash if any Zarr (.zarr/.ngff) asset is detected, do not even try to process that dandiset"
not even sure if that wouldn't happen "naturally" (i.e. some special API should be used), but if not -- as a stop gap measure we should stop trying to update a dandiset if it has one of those assets

[2022-02-17 16:29] jwodder commented on #126
@yarikoptic At the moment, due to the fact that Zarr assets lack SHA256 digests, this will happen automatically, but any blob assets listed by the server before the Zarr will still be downloaded (though they won't be saved unless the Dandiset was published in-between).  Should a dedicated Zarr-ness check just be added next to the SHA256 check?

[2022-02-17 18:11] yarikoptic opened #127 "Provide support for zarr (.zarr/.ngff)"
`zarr/` refers to a .zarr or .ngff folder asset which are already entering staging server and soon will emerge in the main one. We should be ready (#126 is a stop gap measure so we do not "pollute" our datalad dandisets)

- every `zarr/` should be a DataLad subdataset
- "original" zarr datasets will correspond to their `zarr_id`s as the ones used on s3 as prefixes under `zarr/` prefix (look at ` s

[2022-02-17 19:14] yarikoptic commented on #126
cool, thanks! well, I guess I could figure out from the error message whenever it would say that some .zarr asset is lacking sha256 that it is one of those cases, but I would not mind also a more explicit error.

[2022-02-17 19:26] jwodder commented on #126
@yarikoptic
* Note that the latest release of dandi-cli cannot tell whether an asset is a Zarr; the unreleased version on master is needed for that.  As such, I've added the check to #116.
* I was mistaken when I said that other assets downloaded in the Dandiset will not be saved; they will be saved, and the commit message will mention the number of assets yet to download.  Is this OK?
* Also note

[2022-02-17 19:43] yarikoptic commented on #126
Let's kick out release of dandi-cli asap - we already have too many changes unreleased... marked that late PR for release and merged.

wouldn't this cause difficulty to deduce later a possible state to branch off a release from? (because we would have some partial state saved)

I thought that I would prefer to error out as soon as we know that a given "state" cannot be instantiated for saving beca

[2022-02-17 19:48] #124 closed, assigned to jwodder

[2022-02-17 19:51] jwodder commented on #126
@yarikoptic

I don't think so.  The assets are saved in creation order, and the commit uses the date of the last one for the author date, which is used to determine where to branch off of.

[2022-03-01 15:53] jwodder commented on #127
@yarikoptic
* What exactly should the names of the repositories in https://github.com/dandizarrs be set to?  The Zarr IDs?
* Please try to make a decision on #103 before I start work on this

I can't tell what you're trying to say here.

[2022-03-01 17:50] yarikoptic commented on #127
yes, 1-to-1 to prefix (AKA folder) on S3:

[code]

pretty much what you asked (and I answered) about above ;-)

[2022-03-03 18:45] #93 closed, assigned to nobody

[2022-03-03 20:54] yarikoptic opened #129 "add dandiset into msg"
got
[code]
and have no immediate clue which dandiset it was

[2022-03-04 11:53] sanjayankur31 opened #131 "`Unknown commit identifier: main` when downloading with `datalad`"
Hello,

I was `installing` all the datasets using datalad, and for some, datalad fails with:

[code]

How to reproduce:

[code]

Output:

[code]

Here are the ones that failed for convenience:

[code]

Software versions:

[code]

[2022-03-04 15:41] yarikoptic commented on #131
Thank you for the report! Short answer -- try ` datalad install https://github.com/dandi/dandisets -r -J 8` and better upgrade datalad first -- 0.14.7 is a bit aged by now

more details

- in 0.14.x we might still have some remaining fixes to be done for all that `master -> main` default branch migration in git/github.
- ///dandi/dandisets is a mirror of a superdataset from github
- it is outdated

[2022-03-04 15:41] #131 closed, assigned to nobody

[2022-03-04 18:58] sanjayankur31 commented on #131
Thanks very much, I updated to 0.15.6, and it works without issues with both URLs.

[2022-03-07 14:51] #129 closed, assigned to jwodder

[2022-03-07 14:57] yarikoptic opened #132 "not needed warning + seems does not move the file but copies?"
did manual run after the merge of #103

<details>
<summary>protocol of the run</summary>

[code]
</details>

has a number of warnings like

[code]

which I think should not be a warning if we are expecting that new assets would not yet be in the backup.

And `populate dandi-dandisets-dropbox` produced no output but running `whereis` after the script was done on a sample file showed that it is alre

[2022-03-07 15:03] jwodder commented on #132
@yarikoptic

[The `populate` command already runs "git-annex move."](https://github.com/dandi/dandisets/blob/4898f9bd65f8336da887c60ebac92cc532cbe03a/tools/backups2datalad/__main__.py#L239-L251)  Exactly what do you want changed?

[2022-03-07 15:08] yarikoptic commented on #132
figure out why it was not moved then?

[2022-03-07 15:13] jwodder commented on #132
@yarikoptic I don't know.  Were other files not moved, and, if so, were they ones that warnings were emitted for?

[2022-03-07 15:14] yarikoptic commented on #132
I didn't check -- full output is provided in the original message. Please inspect

[2022-03-07 15:33] yarikoptic commented on #132
<details>
<summary>FWIW -- here is output from a rerun, which did not show any warnings and invoked `vi` to edit merge message since I merged some PR meanwhile (we might want to make that call non-interactive somehow!?)
</summary>

[code]
</details>

[2022-03-07 15:42] jwodder commented on #132
@yarikoptic Looking at 000115 on drogon, I see that all the files that were warned about plus some others have data present.  I also see that at least one file (`sub-montague/sub-montague_ses-montague-03_behavior+ecephys+image.nwb`; I didn't check them all) is, according to git-annex, not in the dropbox remote.  I really don't know what's going on.  The only way I can think of to get more informat

[2022-03-07 16:32] yarikoptic commented on #132
it is no longer running, so you are good to go:
[code]

[2022-03-07 17:29] jwodder commented on #132
@yarikoptic Running `git-annex move` produced no notable output.  After running, all of the files in the backup copy of 000115 now lack local content.  I don't know why this didn't happen the first time.

[2022-03-07 18:52] jwodder commented on #127
@yarikoptic

* Currently, when committing changes to backup datasets, the commit timestamp is set to the latest creation date of the assets involved in the commit; however, Zarrs can be modified after they are created, so this could produce misleading results.  Should the commit timestamp be based on asset modification dates instead?

* Do we have any idea how publishing Dandisets with Zarrs is go

[2022-03-07 19:39] yarikoptic commented on #127
for the commit which would create the subdataset for zarr (if committing separately) would be worthwhile using creation time.  If you would not be committing in dandiset's git repo at the moment of creation, then let's use the datetime of the commit to be committed in that `.zarr` subdataset.  And commit in the `.zarr` subdataset should have datetime corresponding to the latest datetime of a file

[2022-03-07 19:46] jwodder commented on #127
@yarikoptic

Do you mean the initial commit(s) created when `Dataset.create()` is called?

I would not.

I don't know what you mean by this.

Zarr entry timestamps can only be retrieved via S3.

[2022-03-07 19:58] yarikoptic commented on #127
yes, since that one would do some commits (e.g. to commit `.datalad/config`)

in the dandiset's datalad dataset which is to commit the changes to `.zarr/` subdataset (if already committed separately), commit using datetime of the last commit in `.zarr/` subdataset which would represent the datetime of its change.  Per below, may be it could be just a single call `the_dandiset.save(zarr_path, recur

[2022-03-07 20:05] jwodder commented on #127
@yarikoptic Are you expecting the backup script to only create one repository per Zarr, that repository being a submodule of the respective Dandiset's dataset?  I assumed that the Zarrs repositories would be created under `/mnt/backup/dandi/dandizarrs` or `/mnt/backup/dandi/dandisets/zarrs` and then submodules pointing to either those repositories or their GitHub mirrors would be created under the

[2022-03-07 20:37] yarikoptic commented on #127
right, I forgot that aspect of the design -- we do have all of them under `/mnt/backup/dandi/dandizarrs` ("mirrored" under https://github.com/dandizarrs) and only installed/updated/uninstalled in any particular dandiset so we do updates in their `dandizarrs/{zarr_id}` location, then have to just `datalad update --how ff-only` their installation(s) in the corresponding dandiset (where/when we encou

[2022-03-07 20:58] jwodder commented on #127
@yarikoptic Could you write out a pseudocode sketch or something of how you envision adding a Zarr repo to a Dandiset dataset working?  Right now, pre-Zarr, it roughly works like this:

- For every Dandiset D:
    - Create the dataset, if necessary
    - For every version V of D (putting the draft last):
        - For every asset in the draft, in creation order, created between V-1 and V (or the e

[2022-03-07 21:23] yarikoptic commented on #127
- For every Dandiset D:
    - Create the dataset, if necessary
    - For every version V of D (putting the draft last):
        - For every asset in the draft, in creation order, created between V-1 and V (or the end of time, if V is the draft):
            - If asset is a `.zarr`
              - check that `/mnt/backup/dandi/dandizarrs/{zarr_id}` exists, if not -- create
              - go to `/m

[2022-03-07 21:45] jwodder commented on #127
@yarikoptic
* The backup script currently does `datalad.cfg.set("datalad.repo.backend", "SHA256E", where="override")` in order to set the git-annex backend for the Dandiset datasets; how would the backend be set to MD5E without affecting any non-Zarr datasets?
* If all the files in a Zarr are deleted, what should the commit timestamp for the Zarr dataset be?
* Should the default branch for Zarr da

[2022-03-08 00:17] yarikoptic commented on #127
I am a bit lost , but
- we should keep it as is (SHA256E) for dandisets datasets
- for .zarr datasets we need to either not set it, then it would default to MD5E, or better set it explicitly to MD5E "just to be sure"

;-) tricky you!  you dug it up -- even for non-empty ones we must consider DeleteMarker's (deleted files/keys) datetimes so we have datetime of modification of a `.zarr` which only g

[2022-03-08 14:24] jwodder commented on #127
@yarikoptic

* It's my understanding that the `datalad.cfg.set(...)` line sets the backend used for all Dataset creations throughout the process.  Is there a way to set it for just the dataset currently being initialized, or do I have to call `datalad.cfg.set(...)` with "SHA256E" or "MD5E", as appropriate, before every call to `Dataset.create()`?
* So you now want the timestamps of DeleteMarkers i

[2022-03-08 15:14] jwodder commented on #127
@yarikoptic Also:

* Will the backup remote for the Zarr datasets have the same name as the Dandisets backup remote?
* How exactly do I configure a Zarr dataset to store the `.zarr-checksum` file in git instead of git-annex?

[2022-03-08 19:47] yarikoptic commented on #127
Good questions!

I don't think this is possible (any longer).  See https://github.com/datalad/datalad/issues/5155 for a TODO context manager and actually an existing one used in the tests `datalad.tests.utils.patch_config`.  NB: Might ask you to PR for a proper context manager within ConfigManager.

Yes, I think we are doomed to do that.

Not sure about **always**, but it is ATM. A similar one is

[2022-03-08 19:55] jwodder commented on #127
@yarikoptic For the `ds.repo.set_gitattributes()` call, that doesn't commit automatically, does it?  Do I need to call `ds.save()` manually for that, or can it be rolled into the dataset initialization commits somehow?

[2022-03-10 13:33] jwodder commented on #132
@yarikoptic I partially suspect that `populate` isn't running the commands it's supposed to, so I've increased the log level to DEBUG in #133.

[2022-03-10 13:34] jwodder commented on #127
@yarikoptic Reminder about question in previous comment.

[2022-03-10 15:32] yarikoptic commented on #127
yes, as `ds.repo.` methods do not "auto save", it is typical for `ds.` level interfaces to commit.  I don't think it is possible to roll into dataset initialization, and not really needed to be in a single commit.

[2022-03-10 15:41] yarikoptic commented on #132
<details>
<summary>FWIW -- there is 3 dandisets which are missing files in the backup according to `annex find` so may be you could test/troubleshoot on them with or without #133 merged -- just please disable cronjob while troubleshooting</summary>

[code]
</details>

[2022-03-10 16:06] jwodder commented on #127
@yarikoptic Do `datalad clone` and `datalad update` make commits?  If so, what do I do about that?

[2022-03-10 16:47] jwodder commented on #127
@yarikoptic Relatedly, a previous comment of yours says:

If I'm doing a fast forward, what is there to save?

[2022-03-10 20:50] yarikoptic commented on #127
- for `clone` - ideally we should take the datetime of that asset creation I guess since it would be the best thing to correspond (even if datetime of commit it points in the zarr subdataset is later )
- for `update` - since `ff-only`, in the zarr subdataset there would be no new commit.  In the dandiset -- becomes trickier.  I would have just taken the asset modification date, but I am afraid tha

[2022-03-10 20:54] jwodder commented on #127
@yarikoptic So they *do* create commits in the outer dataset, and that can't be avoided?  Should all non-Zarrs assets be committed before cloning/updating Zarr subdatasets?

Take it for what, exactly?

[2022-03-11 17:14] yarikoptic commented on #127
I don't think we want to avoid commits - they are what would give us idea about the state of a dandiset at that point in time

Not necessarily, as we don't commit per each non zarr asset change. Ideally there should be nothing special about Zarr asset/subdataset in that sense

For the commit in dandiset. Since there could be other assets to be saved, I guess we shouldn't do commit -d . , but let t

[2022-03-11 17:22] jwodder commented on #127
@yarikoptic I'm confused about exactly what should be committed at what point.

* When a Zarr dataset is `clone`d into a Dandiset dataset, does this cause a commit to be created in the Dandiset dataset?  If so, how should this commit be sequenced in relation to the committing of blob assets?
* Same question as above, but for `update`

Git commit timestamps have one-second resolution, so adding a m

[2022-03-11 19:21] yarikoptic opened #135 ""Only some metadata updates" commits also contain changed (added?) assets"
looking at dandi@drogon:/mnt/backup/dandi/dandisets/000221 saw that none commit message says something about adding assets, and apparently commit message is indeed off, e.g.

[code]

ideally commit message should state what was done , e.g.

X assets added, Y removed, Z changed, metadata changes

with a corresponding element missing if number is 0 or that change didn't happen.

[2022-03-11 19:23] yarikoptic commented on #127
Echoing my thinking [above](https://github.com/dandi/dandisets/issues/127#issuecomment-1065315984) -- Let's not commit right at that point. `clone`'ing should be identical to just adding a new asset but not necessarily committing right away.  Save/commit-ing should be sequenced as it would be for any other asset.  So smth like "add assetX; clone zarr as assetX+1; add assetX+2; ... so on; datalad s

[2022-03-11 19:27] jwodder commented on #127
@yarikoptic

How?  When using the Datalad Python API, how exactly do I invoke `clone()` and `update()` so that they don't automatically create a commit in the superdataset?

[2022-03-11 20:02] yarikoptic commented on #127
- `datalad.ui.clone` without providing `dataset=` kwarg
- `zarr_subdataset.update(...)` would trigger update in that zarr_subdataset, but would not commit in (unknown to such call) dandiset dataset which it is a submodule of

[2022-03-14 15:21] jwodder commented on #127
@yarikoptic I'm trying to write a test in which a Zarr is uploaded & backed up, then a file in the Zarr becomes a directory, a directory becomes a file, and the Zarr is uploaded & backed up again.  However, when calling `Dataset.save()` after updating the modified Zarr dataset, the invocation of `git -c diff.ignoreSubmodules=none commit -m '[backups2datalad] 2 files added, 2 files deleted, checksu

[2022-03-14 16:24] yarikoptic commented on #127
Cool! Just push that test and I will try it out as well to troubleshoot datalad from there?

[2022-03-14 16:40] jwodder commented on #127
@yarikoptic Pushed.  You can run just that test with `nox -e test -- -k test_backup_zarr_entry_conflicts`.

[2022-03-16 17:07] yarikoptic commented on #113
fresh crash happened:
[code]
please investigate

[2022-03-16 17:12] jwodder commented on #113
@yarikoptic [As before](https://github.com/dandi/dandisets/issues/113#issuecomment-1017670739), I suspect that what happened is that `create_sibling_github` returned before the GitHub repository was fully created.

[2022-03-16 17:20] yarikoptic commented on #113
then I guess we should loop/wait for little here? and/or add similar check at datalad level (since would take awhile to accept/release so we need to do here and there)

[2022-03-16 19:31] #113 closed, assigned to jwodder

[2022-03-16 19:40] yarikoptic commented on #127
filed https://github.com/datalad/datalad/issues/6558 . Could you for now disable such a tricky unit test? ;)

[2022-03-16 19:47] jwodder commented on #127
@yarikoptic Test disabled.

[2022-03-17 16:48] yarikoptic opened #139 "populate command needs unit-testing"
continuation from https://github.com/dandi/dandisets/pull/137#issuecomment-1070943139

[2022-03-17 16:48] #132 closed, assigned to jwodder

[2022-03-17 17:05] yarikoptic opened #140 "another 500"
I think happened after #138 was merged and deployed but I could be wrong -- didn't analyze

[code]

[2022-03-17 17:10] jwodder commented on #140
@yarikoptic GitHub had [a prolonged service degradation](https://www.githubstatus.com/incidents/sksd097hm0y5) earlier today.  Unless you have reason to believe that [the 500-retrying](https://github.com/dandi/dandisets/blob/e8dbb17d4c267fccf87c9e86ea3851f27b231e37/tools/backups2datalad/datasetter.py#L415-L419) wasn't working as intended, I think the script did all it could.

[2022-03-18 02:41] yarikoptic opened #141 "something is odd with dropbox rclone remote"
may be ran out of space???  from today's email:

[code]

so some did transfer ok but not the others ... who knows what dataset that is (attn @jwodder -- should be shown)... figured 000022.

similar message happened in other logs today as well...

[2022-03-18 13:07] jwodder commented on #141
@yarikoptic

There's an INFO-level log message "Moving assets for Dandiset %s to backup remote" that should be shown before the `git-annex move` output.  Is it not included in the e-mail?

[2022-03-18 13:13] yarikoptic commented on #141
I did fsck on one of those files and everything seems to be ok, `move` also didn't move anything, odd

[code]

[2022-03-18 13:15] jwodder commented on #127
@yarikoptic The `populate` command needs to be updated to support Zarr datasets.  Do you have any preference for how its behavior should be adjusted?

* Should `populate` operate on the datasets in the Zarr folder or on subdatasets of Dandiset datasets?
* Should there be two `populate` commands, one for Dandiset datasets and one for Zarr datasets?
* If there should be only one `populate` command,

[2022-03-18 17:16] yarikoptic commented on #141
nope

<details>
<summary>emails looks like this</summary>

[code]
</details>

[2022-03-18 18:03] jwodder commented on #141
@yarikoptic Looks like PR #133 wasn't pulled in somehow.

[2022-03-18 20:33] yarikoptic commented on #141
May be but I think it was pulled in, there is DEBUG entry for the `populate dandi-dandisets-dropbox` invocation. I bounced you an email from yesterday... since then there were no new email,

<details>
<summary>and there is some hanging there backup process</summary>

[code]
</details>
without any obvious network activity, so I guess it is just stuck. git annex is `8.20211028-g1c76278` , and IIRC t

[2022-03-21 16:32] jwodder commented on #127
@yarikoptic Ping.

[2022-03-21 20:57] yarikoptic commented on #127
sorry for the delay...  Although I do not like breeding commands, I think for now or forever we would be ok if there is a dedicated `populate-zarr` or alike command which would go through present zarr datasets and do similar dance. It should also be added to -cron script.

Rationale:
- current tree of a dandiset which used to have zarr might no longer have it, thus we might miss a zarr to be backe

[2022-03-22 14:23] jwodder commented on #127
@yarikoptic

What have you decided about this?

[2022-03-22 15:19] yarikoptic commented on #127
Let's just do /mnt/backup/dandi/dandizarrs folder for now:
- benefit from joining into a superdataset would be minimal IMHO -- the "state" of the dandiarchive for a date would be accessible through dandisets into those zarrs (as exposed on github)
- `save`ing modified state in datalad dataset could be expensive since those zarrs would be monsters in number of files

[2022-03-25 20:27] yarikoptic commented on #140
well, ok, let's assume that it did, and hope that it wouldn't come back

[2022-03-25 20:27] #140 closed, assigned to jwodder

[2022-03-25 20:33] yarikoptic commented on #135
@jwodder Please review the effects of #136 if this issue could be closed

[2022-03-25 20:41] jwodder commented on #135
There do not appear to have been any more "Only some metadata updates" commits with changed assets since #136 was merged.

[2022-03-25 20:41] #135 closed, assigned to jwodder

[2022-03-28 17:12] yarikoptic commented on #88
I think we no longer use crawler to crawl entire pbucket, so not relevant

[2022-03-28 17:12] #88 closed, assigned to nobody

[2022-03-31 21:47] yarikoptic opened #143 "save changes to dandiset.yaml last"
ATM, in case of crashes, like whenever some sha256 is not known for an asset, we seems to end up in a dirty dataset state

[code]

since it seems changes to dandiset.yaml are saved first.  Would it be easy to save them  last, right before calling datalad's save on the dandiset?  Then there would be a better chance to remain in a clean state for subsequent cron job to possibly succeed.

[2022-04-01 13:25] jwodder commented on #143
@yarikoptic Doing this might cause problems when a Dandiset with multiple versions is being backed up, as then the intermediate commits would lack a `dandiset.yaml`.  I can't run the tests to be sure, due to https://github.com/dandi/dandi-archive/issues/961.

[2022-04-04 19:21] yarikoptic commented on #143
indeed a concern -- would need somehow to ensure providing that updated `dandiset.yaml` at that point.  Ok, let's postpone until  we resolve that issue.

[2022-05-03 12:55] jwodder commented on #139
Will not start until after #134 is merged.

[2022-05-03 12:56] jwodder commented on #126
Implemented in #116.

[2022-05-03 12:56] #126 closed, assigned to jwodder

[2022-05-03 18:16] #127 closed, assigned to jwodder

[2022-05-03 21:17] yarikoptic opened #144 "cleanup test dandisets from staging + make sure that they do get deleted in case of fail/error"
There is a good number of test dandisets on staging: https://gui-staging.dandiarchive.org/dandiset/search?search=backups2datalad  . I thought we had this issue before and it was addressed to ensure that test dandisets are removed, but it seems that either it was fixed and those elderly dandisets were left behind, or may be issue still exist (I think we just weren't able to run tests in awhile in t

[2022-05-05 12:16] jwodder commented on #144
@yarikoptic The test code already ensures that test dandisets are removed, but https://github.com/dandi/dandi-archive/issues/965 was a problem for a while.

[2022-05-05 12:25] jwodder commented on #144
Cleaned up.

[2022-05-05 12:25] #144 closed, assigned to jwodder

[2022-05-09 16:06] yarikoptic opened #146 "FOI: new zarrs can't be pushed to github from dandi@drogon"
not sure if `whereis` fail is anything to worry about but then there is an exception on push -- so most likely the freshly created zarr repo on github lacked some deployment key or authority for that user?

[code]

apparently I forgot to add `dandibot` github user to dandizarrs org. Fixed now - invtied, added, pushed on that sample dataset (not sure how which authority was used to create repo sinc

[2022-05-09 16:07] #146 closed, assigned to nobody

[2022-05-09 16:08] yarikoptic opened #147 "Make sure there is cron job which backs up zarr content to dropbox"
Due to #146 not sure if that is automated since in that sample zarr nothing was yet copied to dropbox:
[code]

Filing this issue to not loose track -- should be checked if it would get properly backed up on the next run

[2022-05-09 16:52] yarikoptic commented on #143
I believe that original https://github.com/dandi/dandi-archive/issues/961 is addressed, please check - may be testing  is ready and this issue is unblocked??

[2022-05-09 16:52] yarikoptic commented on #139
#134 was merged

[2022-05-09 16:54] yarikoptic commented on #91
I do not think we use that one, or of we do - may be already retry since didn't see errors of this kind recently

[2022-05-09 16:54] #91 closed, assigned to nobody

[2022-05-09 20:22] yarikoptic opened #150 "KeyError: 'bytesize'"
[code]

I will retry the job now (after cleaning if needed) but I have disabled cron job for now

[2022-05-09 20:25] yarikoptic opened #151 "add/update stats for dandizarrs"
repos under https://github.com/dandizarrs should gain description with # of files and total size similar (just without title for now) to those at https://github.com/dandisets

[2022-05-09 20:25] jwodder commented on #150
@yarikoptic `filestat` is a `dict` yielded by `Dataset.status()`.  I'm guessing that the `dict` in question represents a Zarr sub-dataset; what do the fields of such a `dict` look like, and how can a sub-dataset's size be determined?

[2022-05-09 20:43] yarikoptic commented on #150
subdatataset's record doesn't have bytesize:
[code]
so I guess just call `get_dandiset_stats` on that subdataset recursively
call it with `annex='all'` and then add up only for records which have `action=="status"` and which have `bytesize` since might be `type="directory"` which would have none.

[2022-05-10 15:19] yarikoptic opened #153 "get_dandiset_stats needs unittesting"
Follow up to #152 fixing an issue.  That function is not tested on CI since invoked only when working with github which we do not mock in the tests thus do not run with gh_org setup.
I guess the most thorough could have been mocking out of github interfaces and running integration test with some gh_org set, but for the purpose of testing that function should be sufficient to add its testing to som

[2022-05-10 15:20] #150 closed, assigned to jwodder

[2022-05-11 15:14] yarikoptic opened #155 "RF processing of Zarr content to go straight from s3"
Going through dandi api had shown to be slowish, still needing interaction with S3 anyways, filling up dandi archive logs https://github.com/dandi/dandi-archive/issues/1094 . Let's archive by crawling S3 bucket for that Zarr prefix directly.
- datalad-crawler simple_s3 pipeline could have been used, and it would have taken care about versioned URLs etc, but it would not be able to mint annex key w

[2022-05-12 20:58] #153 closed, assigned to jwodder

[2022-05-16 14:49] jwodder commented on #155
For comparison: A run of the current, Dandi Archive-based code (commit a48ca6c) for backing up Dandiset 000108 from scratch ran for 7239m 57.293s (just over 5 days) before dying due to the following URLs (with query parameters stripped) all returning 404:

* https://dandiarchive.s3.amazonaws.com/zarr/b5ff7c36-1f2b-4205-838a-1666c53d0ad8/info
* https://dandiarchive.s3.amazonaws.com/zarr/b6a86a44-27

[2022-05-16 14:51] yarikoptic commented on #155
Attn @satra on above that some zarrs might have access issues

[2022-05-16 15:05] satra commented on #155
different archives may have the `info` file, but they technically should not exist. depending on stage of cleanup, they may have been removed. where are you getting list of files from?

[2022-05-16 15:07] satra commented on #155
also see this issue: https://github.com/dandi/dandi-archive/issues/1091

(there is no way currently for me to force reingest, which is possibly related to these issues).

[2022-05-16 15:08] jwodder commented on #155
@satra Currently, I'm getting the list of files from the Dandi Archive API.  See, for example, https://api.dandiarchive.org/api/zarr/12c62295-6476-4390-9ea6-5a5835a777b8.zarr/, which includes an "info" item.

[2022-05-19 21:01] yarikoptic opened #159 "Simple queue/collision avoidance between jobs on the same dandiset"
https://github.com/dandi/dandisets/blob/draft/tools/backups2datalad-cron is ATM serially goes through update-from-backup populate dandi-dandisets-dropbox populate-zarrs .   All those jobs should be parallelizable in particular across different dandisets. ATM one long running or stuck job delays running any next one.

I think we can have separate cron jobs and run them in parallel.

But we must avo

[2022-05-20 12:58] jwodder commented on #159
@yarikoptic If there's a new Dandiset on the server that hasn't been backed up yet, it's possible that concurrent cronjobs would try to initialize a new dataset for it at the same time.  Can DataLad handle that intelligently, or is some extra locking needed?

[2022-05-20 13:04] jwodder commented on #159
@yarikoptic

Under what sort of circumstances do you expect this to ever happen?  I can only see this happening if a Dandiset takes a week to back up, but is that error-worthy?

[2022-05-20 14:23] yarikoptic commented on #159
Datalad doesn't do locking for this. You can use superdataset's .git folder for per dandiset locks for this - it would be common location for all jobs, and we know it should exists already.

[2022-05-20 18:07] yarikoptic commented on #159
E.g. `annex get` (or some other command) locks up like it did now: https://git-annex.branchable.com/bugs/get_is_busy_doing_nothing/ . Seems to be avoidable at git-annex level but needs configuration, yet to establish.  And who knows if nothing else would cause a lock up

I would say "if there is unlucky star arrangement" since besides above I do not see an immediate scenario when it could happen,

[2022-05-23 13:53] jwodder commented on #159
@yarikoptic

By "issue an error", do you mean "log an ERROR-level log message (and continue with further Dandisets)" or "raise an exception (and stop)"?

Also, should the `jobs.json` file record the start time or the end time of each operation?

Also, currently the code saves all modified datasets to the superdataset at the end of update-from-backup at once; could running in parallel cause problem

[2022-05-23 16:08] yarikoptic commented on #159
I would say -- exception.  I want to detect/handle manually (see how we should react to them etc) for now.

I do not see an immediate use for `start` but it would not hurt either and could come handy  for getting some stats.  So good idea to record both times.

Top level `save` -- I would just add locking there at the level of super dataset to avoid two parallel `save` invocations

NB  I feel like

[2022-05-25 17:26] yarikoptic opened #160 "FTR: might need code tune up to create remote siblings"
there were crashing runs for various reasons (absent credentials for dandizarrs etc), and I saved some intermittent state (looked kosher).  `datalad push` ended up with few errors which were due to github remote not defined:

[code]

Making a note of this and will redo the full run (now credentials are known) but these two dandisets should be checked later if all is good

[2022-05-25 19:05] #155 closed, assigned to jwodder

[2022-05-25 19:30] jwodder commented on #159
@yarikoptic How should locking of Zarr datasets be handled?  Should a Zarr ever be locked while its corresponding Dandiset is not locked?  It might be easiest to merge `populate-zarrs` into `populate` and have the latter populate all Zarr submodules in a given Dandiset after populating blob assets while keeping the Dandiset locked, which would eliminate the need to lock Zarrs at all.

[2022-05-25 20:36] yarikoptic commented on #159
Why don't we lock just within each zarr dandiset as we get to a specific zarr in `populate-zarrs` (which just transfers data IIRC) or `update-from-backup` which might create/update them?  I do not quite see how melding `populate-zarr` and `populate` would help as they feel like independent jobs (one get/copy for dandisets, another get/copy for dandizarrs) -- where am I confused?

[2022-05-25 20:38] yarikoptic opened #161 "FTR/TODO: check following assets"
eye balled following errors while "manually" running cron job, not yet sure in which dandiset
[code]
need to make sure later that can get them etc...

[2022-05-25 20:39] jwodder commented on #159
@yarikoptic If we don't lock the corresponding Dandiset while populating a Zarr, then the backup command could try to back up a Dandiset whose Zarrs are currently being populated, and if this backup reaches a Zarr that is currenly locked due to being populated and the population takes more than five minutes ... what should happen?

[2022-05-25 20:39] yarikoptic commented on #161
doh -- that is in the adhoc run for 108 using
[code]
not sure what are those create -- may be zarrs... (need to get back to  datalad PR to avoid those crummy non informative paths)

[2022-05-26 14:51] yarikoptic opened #162 "retry for longer while talking to our server"
it seems we retry only until delay of 10 seconds or so.  Let's increase the stepping to grow in larger incremens faster and a few more times so it spreads into a few minutes :
[code]

[2022-05-26 14:58] jwodder commented on #162
@yarikoptic Currently, when sleeping between retries, the *n*-th wait (starting at `n=0`) lasts for `(1.25 ** n) * 1.25` seconds.  What do you want those values changed to?

[2022-05-26 15:27] yarikoptic commented on #162
greedy me: let's do
[code]

so totaling to up to ~7 minutes.  hopefully that would be enough for anything to come back to its senses

[2022-05-26 15:37] yarikoptic commented on #159
Thinking about it more: in principle, git-annex ~~would~~(edit) should be just fine with `get/move` (of populate jobs) to be ran in parallel to all those registerurl etc of the main backup command. AFAIK git-annex journals all those changes and manages to commit into git-annex without causing a conflict etc... so, most likely those `populate` commands should be just fine in running in parallel to

[2022-05-26 15:41] jwodder commented on #159
@yarikoptic I can't think of any conflicts.

[2022-05-26 16:43] yarikoptic commented on #159
Ok, I will then just split cron job script into multiple

[2022-05-26 17:02] #162 closed, assigned to jwodder

[2022-05-31 14:18] yarikoptic opened #165 "Make zarr within dandiset github remote be called `github` not `origin"
For the zarr mentioned in https://github.com/dandi/dandisets/issues/160 I believe in that /mnt/backup/dandi/dandisets/000243/sub-S01/anat/sub-S01_T2w.ngff  I had to rename git remote from `origin` to `github`.  @jwodder , please make sure  that whenever we clone (?) `zarrarchive` from github as subdataset, it gets `github` rename, not `origin`, so we have it uniform with its superdataset naming

[2022-05-31 14:22] jwodder commented on #165
@yarikoptic DataLad doesn't appear to have a way to set the remote name when cloning, so do I just manually rename the remote afterwards?

[2022-05-31 14:56] yarikoptic opened #166 "Ensure that github sibling is created"
Due to various other issues we can end up in a "crashed" state without github sibling being configured.

<details>
<summary>Here is a traceback from crash while trying to backup 108 </summary>

[code]

</details>

<details>
<summary>and majority of dandizarrs on drogon are missing the github sibling:</summary>

[code]
</details>

for now I tried to fix up manually but part of the problem is that s

[2022-05-31 15:24] yarikoptic commented on #166
ehm, and I screwed up in above in that they all pointed to https://github.com/dandizarrs/github github repo! Fixing it all up now already wishing it was fixed up properly

[2022-05-31 15:31] yarikoptic commented on #165
eh. filed https://github.com/datalad/datalad/issues/6724 . Please indeed just use `git remote rename` for now after the clone.

[2022-05-31 16:07] yarikoptic commented on #166
FTR the correct command to run was:
[code]

[2022-05-31 17:03] #165 closed, assigned to jwodder

[2022-06-01 19:19] yarikoptic opened #168 "some assets aren't addurl'ed nicely"
kept rerunning this one while manually fixing up zarrs , some code fixes pushed directly etc and arrived at

[code]

with a bunch of such errors but not for all files... grepping the lengthy (31GB! BTRFS compressed to 24%; shouldn't forge to clean up at some point) log brings

[code]

not sure what it is about

if I try to redo manually it sure thing fails since file is there first but then if I r

[2022-06-01 19:27] jwodder commented on #168
@yarikoptic I don't know why that would be happening.  Maybe file an issue with @joeyh?

[2022-06-01 19:34] yarikoptic commented on #168
yeah, but have no reproducer ... thought to ask him and was grep'ing git-annex for various similarish 'exit 123' (from xargs) issues but so far didn't catch anything related I think:

<details>
<summary>grep</summary>

[code]
</details>

`
$> git grep -l 'exited 123' | sed -e 's,^doc/,,g' -e 's,/comment,#comment,g' -e 's,\.mdwn$,,g'  -e 's,\._comment,,g' | uniq | while read f; do echo "- https://g

[2022-06-01 19:52] yarikoptic opened #169 "Thinking out loud: do something about files with common content?"
while browsing logs for a crashed run saw **long** outputs from `whereis`. Apparently some files are **very** non unique, e.g.

[code]

it might be generally something to worry about for data producers (@satra -- this one i got while crawling 000108 I believe) -- unless data was intended to be fake, I don't see why there should be thousands of the same data blobs (although may be some common value

[2022-06-01 19:52] #169 closed, assigned to nobody

[2022-06-01 20:18] yarikoptic opened #170 "FOI: push of some zarrs fail and issue lots of scary messages but seems almost complete"
[code]

subsequent `datalad push` did copy 1 file:

[code]

and that file is "nothing special" (in respect to #169 )

[code]

[2022-06-01 20:19] yarikoptic commented on #170
my only thinking -- could that zarr somehow be tried to push from multiple threads in parallel @jwodder ? (e.g. as if present  in multiple places within the same dandiset)

[2022-06-01 20:42] yarikoptic commented on #170
or may be this run of
[code]
collided with some `populate-zarrs` I had in background (ping #159) since

<details>
<summary>~30k paths are in backup already</summary>

[code]
</details>

<details>
<summary>and only ~200 not</summary>

[code]
</details>

so clearly some invocation of `populate-zarrs` likely already was ran.

Running now a single (that) zarr population script to see how well it does

[2022-06-01 20:51] yarikoptic commented on #170
experiment "finished" with

[code]

thus showing that error message (from rclone?) we saw above, and the `populate-zarr` visible stuck (hence enters/empty lines) and then just erroring out

[code]

now I will restart it and would expect clean completion

[2022-06-01 22:05] yarikoptic opened #172 "populate-* -- use datalad's intefaces for get"
ATM running the `populate-zarrs` job floods the screen with outputs from git annex

[code]

and then `move`.  Should use datalad's interfaces (not sure if there is one for `move` though, filed https://github.com/datalad/datalad/issues/6736, let's start with `get`) to `get` so we have more concise progress reporting.

[2022-06-01 22:29] #170 closed, assigned to nobody

[2022-06-01 22:40] yarikoptic opened #173 "populate* -- parallelize "for p in dirs:" loops; update_from_backup -- "for d in self.get_dandisets(""
ATM there is `--jobs` which is passed over to git-annex.  I think, similar to `dandi-cli` we could have `-J dirs[:git-annex]` syntax and allow for parallel "processing" of those datasets with parallel uploads within each one. Similarly within `upate_from_backup`.

Note: not sure how much of benefit it would be for the `populate` since at the level of dandisets files are likely to be heavier so bot

[2022-06-02 00:45] yarikoptic opened #174 "manages to miss some deletions"
per https://github.com/dandisets/000026/issues/4 report -- see the details there. Indeed even after the super-fresh run the file is still there:
[code]
so some logic is defective in detecting/handling deletions .

FWIW: the .dandi/assets.json still contains it but there is no mentioning of that path in the logs for the past week or so.

[2022-06-02 00:50] satra commented on #174
may also want to check if it's in assets.json on the s3 bucket, which could be another way of getting asset metadata without paginating through the api.

[2022-06-02 01:08] yarikoptic commented on #174
wouldn't hurt to check, but for backup I would prefer to go by what API knows so we do not "chain" the possible sources of the bugs (that `assets.json` is also not given by gods, is it?) ;)

[2022-06-02 01:16] satra commented on #174
if the api server is a god then yes.

[2022-06-02 01:28] yarikoptic commented on #174
Well, in our design DB is the holy grail. API is the only one talking to it directly. It is as close to God we can get ;-)

[2022-06-02 12:45] jwodder commented on #173
@yarikoptic What should happen if an error occurs in one of the jobs?  Should everything stop immediately?  Should it continue with the jobs that are currently running but not start any more pending jobs?  Should everything else run to completion?

[2022-06-02 12:50] jwodder commented on #172
@yarikoptic I'm assuming that the DataLad equivalent to `git-annex get` is [`datalad.api.get()`](http://docs.datalad.org/en/stable/generated/datalad.api.get.html), but that doesn't seem to have a way to specify `--from=web --not --in $backup_remote --and --not --in here`.  What is the proper function call to use here?

[2022-06-02 15:20] #174 closed, assigned to jwodder

[2022-06-02 16:09] yarikoptic opened #176 "Invoke `annex move` up to 5 times in case of error(s)"
got a run of `populate-zarrs` error out with
[code]

IIRC @joeyh correctly, annex.retry doesn't even apply to all operations, so possibly it is just a matter of some connection fluke and no re-attempt was made.  Unfortunately I don't have a clue in which zarr it has happened due to excessive output (#172) to see if subsequent `move` would succeed but I would assume so.   I think in the case of a f

[2022-06-02 16:10] yarikoptic commented on #173
I was just to file an issue about that -- ATM failed `annex move` in one zarr fails entire `populate-zarrs` which is ... suboptimal.  Filed https://github.com/dandi/dandisets/issues/176 specifically for retrying, and in respect to the question -- yes, we should process other zarrs and then error out if any of them errored out, i.e. to not fail as soon as any fails.  May be later, if I see the need

[2022-06-02 16:14] yarikoptic commented on #173
FWIW -- ideally with `-J 0` it should remain serial to ease debugging etc.  What about may be using an already existing helper I coded in datalad?  `ProducerConsumer`: https://github.com/datalad/datalad/blob/HEAD/datalad/support/parallel.py#L71 . It already has an option to instruct either to fail early and I believe goes serially for jobs=0. Also it allows for parallel "producing" .  Not sure if

[2022-06-02 16:22] yarikoptic commented on #173
looking at ProducerConsumer and doc/code for `reraise_immediately` I don't think it would be entirely doing what you ask/I want above -- even if `reraise_immediately == False`, I think (and as [this test](https://github.com/datalad/datalad/blob/32f3e760fcce7856c515f28c48263dfd97c385fe/datalad/support/tests/test_parallel.py#L176) shows) it would only finish processing what was already submitted and

[2022-06-02 16:31] yarikoptic opened #177 "get_deleted: KeyError"
possibly side effect of #175 fix (would have been nice if was accompanied with a unittest where all data is dropped first I guess)

[code]

FWIW, #175 seems to be achieving what was needed to fix #174 since I see a good number of deleted files (didn't check for specific target one):

[code]

[2022-06-02 16:35] yarikoptic opened #178 "Run `git gc` for each dandiset/zarr dataset upon completing its processing"
ATM, in particular in case of zarrs, due to git-annex (I believe) operations we grow substantial `.git/objects` which can be shrunk very significantly (e.g. from 1GB to a few MBs).  So I think it is worth explicitly running `git gc` (I hope it would be sufficient without `--prune=now`).  Some stats/demo:

[code]

so we got x30 fold reduction on that first sample large zarr with a plain `gc` invoca

[2022-06-02 17:03] #177 closed, assigned to jwodder

[2022-06-02 17:07] yarikoptic commented on #176
<details>
<summary>FWIW -- figured out what zarr that was and reran the script -- moved those 2 files just fine. confirms that re-invocation should help</summary>

[code]
</details>

[2022-06-02 19:36] yarikoptic commented on #172
yeah, indeed. So let's use "midlayer" -- those `AnnexRepo.call*` interface(s) I described in https://github.com/dandi/dandisets/issues/176#issue-1258403842 , e.g. `AnnexRepo.call_annex_records` to which you pass all command line options you like.

[2022-06-02 19:49] yarikoptic opened #180 "update-from-backup pushes data"
In https://github.com/dandi/dandisets/commit/d71f74726ee3bb9d66bca8a2ef1dd0c79082376f I addressed it for zarr portion but I believe that we are still doing transfer in the `update_from_backup` process for regular assets since I observe
[code]
being "stuck" for long time and pstree shows lots of activity with rclone to transfer data.  Transfer of data should happen in `populate*` jobs, not in the u

[2022-06-02 19:52] yarikoptic commented on #180
doh -- I see that push straight in `update_from_backup` -- will patch that now. but because it is conditioned on having updates, I guess it would not be "tested" until anything changes somewhere ;)

[2022-06-03 03:06] #180 closed, assigned to nobody

[2022-06-03 14:31] jwodder opened #182 "Need an alternative way to set commit date"
Backing up Zarrs in a Dandiset happens concurrently, including the commit at the end.  Currently, the commit date is set using [`custom_commit_date()`](https://github.com/dandi/dandisets/blob/4d5ffe1e758cf3a42f80287049363cb614f3a3ee/tools/backups2datalad/util.py#L268), which simply sets environment variables, which are process-wide.  This has the potential to result in a Zarr commit having the wro

[2022-06-03 16:51] #178 closed, assigned to jwodder

[2022-06-03 16:54] yarikoptic commented on #182
Could we just have a threading lock context manager around `api.save` where within locked state we set `custom_commit_date()`? that would prevent two concurrent saves to be executed

[2022-06-03 16:57] jwodder commented on #182
@yarikoptic I'm worried about what that would do to the runtime, as saves can take several minutes on large Zarrs.

[2022-06-03 19:25] yarikoptic commented on #182
indeed `save` takes awhile on heavy hierarchies, but I would not expect many zarrs needing saving (meaning that they were updated) at the same time. So I would do this quick & easy fix until we spot that it became a bottleneck and then see what we should do about that (there is fake dates hook ups already, so might be a matter to "interface" to those points but not sure if worth the pain ATM)

[2022-06-03 22:53] #182 closed, assigned to nobody

[2022-06-06 17:28] yarikoptic opened #186 "populate: ERROR : : error listing: directory not found 2022/06/06 13:23:19 Failed to size with 2 errors: last error was: directory not found"
[code]

- I saw it before, didn't file an issue
- we run with -J5 and we have 5 of them
- happens right after `get` has finished (didn't have [mVar issue](https://git-annex.branchable.com/bugs/get_is_busy_doing_nothing/))
- log format is different from ours -- is it coming from rclone or git-annex rclone remote?

overall -- should be tracked down what those errors are about.  any immediate ideas @

[2022-06-06 18:22] jwodder commented on #186
@yarikoptic I don't think any of git-annex's logs look like that, so I'm guessing it's coming from rclone.  My best guess is that rclone might be having some sort of difficulty connecting to Dropbox.

[2022-06-06 18:32] yarikoptic commented on #186
Yeah, likely from there .. but the fact that it does move data suggests that it is something "not that important", I wish message mentioned actual path

[2022-06-06 21:51] #172 closed, assigned to jwodder

[2022-06-07 16:07] yarikoptic opened #188 "populate-zarrs: assert self.p.stdin is not None"
never saw that one before
[code]

[2022-06-07 16:09] jwodder commented on #188
@yarikoptic This is a consequence of #184.

[2022-06-07 16:23] #188 closed, assigned to jwodder

[2022-06-07 16:26] #176 closed, assigned to jwodder

[2022-06-07 16:36] jwodder commented on #139
@yarikoptic Doing this will require making the remote details configurable.  I'm planning on moving these details — along with the Dandi instance, S3 bucket name, and GitHub organization names — to a YAML config file which will be stored in the repo.  However, I'm not sure what to do about configuring the local directories in which to store Dandiset & Zarr backups.  Currently, these are specified

[2022-06-07 17:02] yarikoptic commented on #139
Since eventually similar setup could be adopted by someone else, concentrating configuration (for remote and local aspects) into a config file sounds like a great idea to me!
What I typically dislike about large "monolithic" configs though is that for some operation which needs to know only about a few settings, it would require instantiation of the rest of the infrastructure. So if e.g. `zarr_tar

[2022-06-07 18:49] jwodder commented on #139
@yarikoptic

The ability to specify Dandisets on the command line isn't going anywhere.  Exactly which options do you need to remain as CLI options?

[2022-06-07 18:58] yarikoptic opened #190 "000108 update leads to crashes since some s3sync.json are annex files"
<details>
<summary>full traceback</summary>

[code]

</details>

It is because some of the s3sync.json are still annexed files, although in "unlocked" form:

[code]
it is in part because only recently addition of `.dandi/.gitattributes`was made and some of those files managed to be committed to git-annex in earlier zarrs... I have tried to mitigate that by manually running

[code]
which I thought

[2022-06-07 19:01] yarikoptic commented on #190
d'oh -- there is `unannex` to be used, not `unlocked` -- seems to work!

[code]

[2022-06-07 19:05] yarikoptic commented on #190
ran
[code]

let's hope that had fixed it all (there are still some with empty `.dandi/` but I think they all have `.gitattributes` there):
[code]

[2022-06-07 19:05] #190 closed, assigned to nobody

[2022-06-07 20:16] yarikoptic opened #191 "git gc exits with 128"
I encountered it before but didn't report.. it seems to persist:

[code]

so it is that problematic case with some errors from #168 but then at the end `git gc` erroring out entirely. Something must be not really kosher while invoking that command

[2022-06-07 20:18] yarikoptic commented on #173
this should also help with reporting where (in which dandiset or zarr dataset) error happened, since now it seems to be impossible to determine exactly because nothing in traceback includes the path e.g. in https://github.com/dandi/dandisets/issues/191 .

[2022-06-07 20:25] yarikoptic opened #192 "000108 update-from-backup issues"
it is one of the pains:

Sample invocation:

[code]

results in following issues

- [x] `2022-06-07T15:07:54-0400 [ERROR   ] backups2datalad sub-MITU01/ses-20210817h18m20s17/micr/sub-MITU01_ses-20210817h18m20s17_sample-120_stain-LEC_run-1_chunk-7_SPIM.json: download failed:   download failed: Internal Server Error`  -- unfortunately heroku logging was broken, so no logs. No mentioning in paper tra

[2022-06-07 21:23] yarikoptic opened #193 "--dbg CLI option using epdb to troubleshoot interactively"
with all the async -- how could we add some `--dbg` similar to the one we have in dandi-cli, datalad etc to end up at the point of the exception to troubleshoot it ?  now it is hard to impossible to figure out what wrong is going on in e.g. #168 .

I think we could do it via  `epdb`  see https://github.com/datalad/datalad/blob/master/CONTRIBUTING.md#useful-tools ...

<details>
<summary>might need

[2022-06-07 21:25] yarikoptic commented on #193
oh , we already have `--pdb` !  I should try that first although really doubt it would work

edit: `--pdb` did work and I ended up at some exception ... but it seems (#194 ) that currently interesting to me places do not even raise exception

[2022-06-07 21:29] yarikoptic commented on #139
it is largely up to you since you would be seeing the picture better. But I see such options as `--s3bucket`, `--target` , `--zarr-target`, `--dandi-instance`, `backup_remote`, `--zarr-backup-remote`, `--zarr-gh-org`, `--gh-org`  to go into config; and such as `--log-level`, `--jobs`, `[ZARRS]`, `[DANDISETS]` `--exclude` -- remain CLI options.

[2022-06-08 12:46] yarikoptic commented on #191
in current crash I spotted

[code]
so let's just assume that exit 128 is because another `gc` is running, and "let it be".

@jwodder please centralize calling `gc` since we have two spots already
[code]
and ignore 128 while reporting in which dataset it happened (path).

[2022-06-08 12:53] yarikoptic opened #194 "Q: we are ignoring all? errors from external annex processes?"
Was thinking to look into all those reported errored exits from whereis, while our backup process continued. warning was reported from
https://github.com/dandi/dandisets/blob/draft/tools/backups2datalad/util.py#L141
point.  There seems to be no exception raising at all, and I wondered why?  are we continuing to operate on any external process failure upon exit and should not it be fixed to "error

[2022-06-08 13:09] jwodder commented on #194
@yarikoptic If you're specifically referring to errors from `git-annex whereis`, those happen whenever it's passed a key that hasn't yet been registered in git-annex, which happens during normal operation.

[2022-06-08 13:52] jwodder commented on #139
@yarikoptic How exactly do I set up a Git special remote for testing `populate`?  I tried following [these instructions](https://git-annex.branchable.com/special_remotes/git/) by doing:

[code]

but the final command failed with "git-annex: could not find existing git remote with specified location".

[2022-06-08 14:08] yarikoptic commented on #168
filed git-annex issue to seek @joeyh wisdom: https://git-annex.branchable.com/bugs/addurl_--batch_errors_with__git-annex__58___user_error_/ .  But what we might need to do to workaround is
- if reported such (add exited with "user error" and `123` just remember that file
- whenever `addurl` process finishes, `git add` those files explicitly

[2022-06-08 15:00] yarikoptic commented on #139
- better use `datalad.api.create` to create test datasets since that is what we have/use
- where do we have `type=git` special remote ATM in the workflow to bother setting it up?

[code]
- seems we need some "backup" git-annex remote, can be `type=directory` and then a regular git (but git-ignore'ed) in place of `github` one (or I am ok even to test against real interactions with github in some de

[2022-06-08 15:13] jwodder commented on #139
@yarikoptic I did:

[code]

and that worked, but then `git annex move --to testremote` did nothing, presumably because no files were added to the annex.  However, adding a PNG and commiting it — either with `git commit` or `datalad save` — also failed to add any files to the annex.  What exactly am I doing wrong?

[2022-06-08 15:14] yarikoptic commented on #139
re your original question about git special remote -- I am as confused as you are!  don't have an answer

<details>
<summary>here is a turnkey reproducer</summary>

[code]
</details>

may be @joeyh has a clue ?

[2022-06-08 15:15] yarikoptic commented on #139
use `datalad save` or don't forget `git annex add` before `git commit`

[2022-06-08 15:18] jwodder commented on #139
@yarikoptic It appears that `datalad save` doesn't add the file to the annex if it was added with `git add` instead of `git annex add`.  Is that supposed to happen?

[2022-06-08 15:25] yarikoptic commented on #139
I think so since with `git add` you are instructing it to be added into `git`... I think there was a moment in time when git-annex would have added to `annex` but unlocked but then people complained and it was reverted... or I could be wrong

re `initremote` on type=git, looking at elderly version of code https://hackage.haskell.org/package/git-annex-5.20140926/src/Remote/Git.hs comment
[code]
giv

[2022-06-08 15:43] yarikoptic commented on #139
filed https://git-annex.branchable.com/bugs/initremote_type__61__git_is_not_working_for_unkn_reason/?updated

edit: related issue in datalad core land -- https://github.com/datalad/datalad/issues/6199

[2022-06-08 15:50] yarikoptic commented on #194
`whereis` is indeed the majority of those cases.
-  We should not issue a warning where it is "normal operation" -- it is misguiding etc.
- same warning seems to be issued for some addurls

[code]
are those also "normal"?

[2022-06-08 15:52] #191 closed, assigned to jwodder

[2022-06-08 16:28] jwodder commented on #194
@yarikoptic No, those aren't normal.

[2022-06-08 19:01] yarikoptic commented on #194
so the process then should error out after... and interestingly it seems to typically error out... these days immediately with `git gc` error but before it were some others as well.  [here](http://www.onerussian.com/tmp/after-return-code-all.txt) is the output from  `grep -A1000 ' backups2datalad git-annex addurl command exited with return code 1' *.log` within 000108 logs.  Interestingly one sync

[2022-06-08 19:24] jwodder commented on #194
@yarikoptic I'm assuming that `git-annex addurl` exits nonzero iff a file failed to download, i.e., if `"success"` was `false` for some result record output by `addurl`.  Whenever the latter event happens, the backup script currently just marks down the file as a failed download (though #199 will change that a bit) and continues processing the remaining assets.  It is only after all assets (includ

[2022-06-08 20:35] yarikoptic commented on #186
since in terminal, might be stderr, and might be the results of those greps which were suggested to be swallowed/discarded in https://github.com/DanielDent/git-annex-remote-rclone/pull/31/files  (likely for the `CHECKPRESENT-FAILURE` ?) and ths "nothing to worry about".  Thus closing (we have enough of issues to deal with)

[2022-06-08 20:35] #186 closed, assigned to nobody

[2022-06-10 02:01] #168 closed, assigned to nobody

[2022-06-11 17:14] yarikoptic commented on #173
@jwodder please prioritize this issue.

[2022-06-11 18:13] yarikoptic opened #201 "question: is custom code for git annex move invocation tolerant to heavy output on stdout AND stderr?"
I wonder if that might be the reason for the stall I consistently observing due to git-annex-remote-rclone producing lots of output on stderr, which I reported at https://github.com/DanielDent/git-annex-remote-rclone/issues/44 .

On our end I see only

[code]
so we do swallow stderr and IIRC in Python ways to run external commands, if there is no dedicated thread to read in stderr -- you can get s

[2022-06-13 12:29] jwodder commented on #173
@yarikoptic

* What should the default number of workers be?
* Currently, we limit the number of Zarrs processed at once to 32.  Should this limit continue to be used as a Zarrs-per-Dandiset limit or as a limit on the total number of Zarrs processed at once across all in-progress Dandisets?

I'm going to implement this using asynchronous programming, which doesn't use threads, so there are no thre

[2022-06-13 13:02] #201 closed, assigned to jwodder

[2022-06-13 13:05] yarikoptic commented on #173
- Could as well be 1 but could be 5 -- we should be able to provide in CLI as we already do with `-J`.
- if possible to make 32 shared limit across dandisets -- would be great!  If not - reduce to 6 or so?
- ok, let's see how it would look with dandiset IDs to be present in every log msg
- #202 is merged now, thanks!

[2022-06-13 13:07] jwodder commented on #173
@yarikoptic Oh, sorry, I meant to ask for #196 to be merged.

[2022-06-13 15:23] #139 closed, assigned to jwodder

[2022-06-13 20:14] jwodder commented on #173
@yarikoptic In addition to the process-wide logfile saved in the superdataset in `.git/dandi/backups2datalad`, you may recall that there are also Dandiset-specific logfiles saved in each Dandiset dataset in `.git/dandi/logs` (though these logfiles are deleted if no changes were made to the repository).  Unfortunately, implementing parallel Dandiset backups will mess with the latter logs; we can ei

[2022-06-13 21:19] yarikoptic commented on #173
I do quite use them -- still debugging 000108, and the sizes of those logs probably is the major storage impact on drogon ATM ;)

I guess the "difficulty" is that if done via async, it would be in the same process and it is impossible to establish different logging targets per each worker since it is all in the same process?  May be then we could avoid `async` and just have it done implemented via

[2022-06-14 12:35] jwodder commented on #173
@yarikoptic In the current draft, I believe the only Dandiset-specific log messages that aren't prefixed are the DEBUG messages emitted whenever a subcommand is run (because that would require passing around too much data constantly), but those include the directory in which the command is run, so you can still tell what they're operating on.

[2022-06-14 14:06] yarikoptic opened #203 "000108 crashes with create_sibling_github(error):"
[code]

I have checked the 'd241fe01-a13a-412c-9774-fc28518f41b9'  -- it was a dirty git repo, had `github` remote, and https://github.com/dandizarrs/d241fe01-a13a-412c-9774-fc28518f41b9 indeed exists.  Did `reset --hard` there, and in the 2nd one. Didn't touch 3, 4th so you could have ...

Here is a dirty shell history of what I have done to make them all consistent etc
[code]

And will rerun tha

[2022-06-14 14:09] yarikoptic opened #204 "reports dataset being dirty whenever it is not"
might be a bug in datalad?  @jwodder please help -- I am blind

[code]

NB I just added including dataset which is found dirty in the exception msg, otherwise was not sure what it finds dirty

[2022-06-14 15:06] yarikoptic commented on #204
uff... because RF did screw up in paths specification -- will need to see to have it adjusted and `dandiset/dandiset` "prevented" ...
[code]

[2022-06-14 15:16] yarikoptic commented on #204
af10b63bd29c0bba59832b49625399dfabd9e981 should have fixed that... apparently `dirname .` is `.`

[2022-06-14 15:16] #204 closed, assigned to nobody

[2022-06-14 15:39] yarikoptic commented on #173
I am ok with that compromise.

[2022-06-15 11:44] yarikoptic commented on #192
Probably can soon be considered resolved -- the process is ongoing ATM, lots of files changes staged, some not (will be added due to #168), LOTS of zarr datasets produced but not yet added as subdatasets, `gc` crashes logged but process doesn't crash.

[2022-06-16 00:33] yarikoptic opened #206 "FTR: may be we should limit number of zarrs to be processed"
good news: process seems to run "stably" - nothing crashed for a while (ref #192 )

[code]

runs over 200 git/git-annex processes ATM on drogon.  That dandiset seems really loaded with zarr files :

[code]

and we seems to work simultaneously on over 30  (IIRC @jwodder mentioned that we do  up to 32)

[code]
so far (multiple prior attempts and now probably over 24h of the run) we seems have got on

[2022-06-16 22:53] yarikoptic opened #207 "retry push if something really odd happens"
a super lengthy backup of 000108 crashed again leaving it in a dirty state with benign flake of inability to `git push`

[code]
which happened for 2 zarrs. 2nd one:
[code]

Let's retry push for a few times (3?) if "unexpected disconnect " in CommandError.

PS meanwhile, hard resetting and restarting that one again.

[2022-06-16 22:54] #173 closed, assigned to jwodder

[2022-06-16 23:15] yarikoptic opened #208 "update-from-backup --workers 5 crashed"
didn't investigate if relates to fresh merge of #205 (`--workers`) but having merged, added `--workers 5` and trying to run -- got a total meltdown

[code]

I have disabled the cron job.  Please fix and test on drogon - there is a screen session

[2022-06-16 23:17] yarikoptic commented on #208
may be also relates to this crash I got from a separate run for 000108 (screen's window 3) after it created some zarrs ;
[code]

[2022-06-16 23:34] jwodder commented on #208
@yarikoptic Regarding the first error, it appears that the `--format` option to `git-ls-tree` was only added to Git very recently, in version 2.36.0, and the Git on drogon is not sufficiently up to date.

[2022-06-17 00:00] jwodder commented on #208
@yarikoptic The second crash is definitely unrelated, but I can't figure out what would have caused it.

[2022-06-17 13:15] jwodder commented on #206
@yarikoptic I'm fine with decreasing the Zarr limit, but I'm not clear on why you want to.  Is the server just overloaded?  When you say you "rarely see any actual output produced", what log level are you running the script at?

[2022-06-17 13:50] #207 closed, assigned to jwodder

[2022-06-17 15:29] anhknguyen96 opened #211 "error installing dandisets 000026/000108/000249/000251"
Hi,

I cloned the repo 2 weeks ago using `datalad install -r https://github.com/dandi/dandisets` (python 3.9), all of the dandisets were cloned except for 000026/000108/000249/000251, with the corresponding errors displayed.
I'm not sure what caused the errors and I'd appreciate some help. Thanks!

![Screenshot from 2022-06-05 14-09-15](https://user-images.githubusercontent.com/30437493/174329472-

[2022-06-17 16:30] jwodder commented on #211
I cannot reproduce this; cloning those modules works fine for me in a fresh Docker container.  Are you still having this problem?

I suspect that this may have just been an intermittent issue on GitHub's end.

[2022-06-21 11:42] yarikoptic commented on #211
confirming that `install` worked out, and I did get those dandisets:

[code]

I guess the original problems were due to some connection instabilities and/or github freaking out (not unheard of) under heavy load (after all you had done 175 clones).  As `datalad` doesn't retry on such fails, I have filed an issue there https://github.com/datalad/datalad/issues/6770 .  As there is nothing to fix in d

[2022-06-21 11:42] #211 closed, assigned to nobody

[2022-06-21 17:10] anhknguyen96 commented on #211
Hi yes, sorry for the tardy response. I `datalad clone` individually these dandisets and it worked, so I guess it was connection issue on my part.
Thanks.

[2022-06-21 20:16] jwodder opened #213 "Proposal for backing up 000108"
Given the massive size of 000108 and the repeated problems encountered while trying to back it up, I propose we do it in pieces instead of trying to get everything to work all at once.  Specifically:

* We should get a full, working backup of 000108 *without* Zarrs
    * Add an option to `update-from-backup` for turning off Zarr syncing, and use it when backing up 000108
* We back up each Zarr in

[2022-06-21 22:24] yarikoptic commented on #213
- don't we need zarrs when establishing the history of the dandiset?
- it is ok for be to have a command to first create zarrs so update would be able to use pretreated ones. The problem though I think that Zarr fetching was crashing too, so would we be able to ever finish?

[2022-06-22 13:14] jwodder commented on #213
@yarikoptic

What do you mean?  We need to get commit timestamps in the right order in case 108 is ever published, but other than that, I don't see a problem with the dataset temporarily lacking some assets.  Is it really necessary that the commit history reflect the Dandiset's update history?

A number of Zarrs have managed to finish, at least, such as (randomly selected sample):

* https://githu

[2022-06-22 15:13] yarikoptic commented on #213
well, that was my experience so far that it would die one way or another so far so we never got a complete pass (#192, #203), so I would not NOT expect it to happen every time until we catch and address all the issues which we encounter leading it to a crash.

not strictly required but would be nice I guess.  If we disable zarrs in that dataset, I am not sure how useful it would be since all the h

[2022-06-27 17:21] jwodder commented on #213
@yarikoptic How do I properly clone a dataset into a superdataset so that either (a) the clone operation does not result in an immediate commit, or (b) the commit message & timestamp are set to my liking?  Using `datalad.api.clone(source=..., path=...)` does not update the superdataset's `.gitmodules` (except it magically does update it when cloning during a Dandiset sync; not sure why), while usi

[2022-06-27 18:38] yarikoptic commented on #213
Use that `datalad.api.clone(source=..., path=...)` and then straight git submodule add and commit with dates/message? Or if we can tune that for da.save then that one could be used instead and it should add that to . gitmodules

[2022-06-27 19:19] jwodder commented on #213
@yarikoptic I think I found why cloning subdatasets was working in one case but not the other, and it looks like a bug in DataLad.

Setup:

[code]

If you clone and then save without specifying a path, the save fills in .gitmodules:

[code]

but if you do "datalad save foo" instead:

[code]

then nothing is saved!

Is this a bug in DataLad, or is there some secret way to tell "save" to convert jus

[2022-06-27 19:24] jwodder commented on #213
@yarikoptic

Doing `git submodule add $source_url $path` after cloning doesn't set the `datalad-id` field in `.gitmodules`.

I can't tell what you're trying to say here.

[2022-06-28 15:14] jwodder commented on #213
@yarikoptic I've managed to get cloning to work by doing `git submodule add` followed by directly extracting the dataset ID and adding it to `.gitmodules`.  I've filed the "save" behavior I described above as a bug in DataLad: https://github.com/datalad/datalad/issues/6775

[2022-06-29 22:31] jwodder commented on #213
@yarikoptic I've finished running `prepare-partial-zarrs.sh` successfully.  The next step is to actually run the `backup-zarrs` command, which can be done with the `backups2datalad-backup-zarrs-108` script in `tools/`.

[2022-06-29 23:33] yarikoptic commented on #213
Great! Please run it in screen.

[2022-07-05 21:56] yarikoptic opened #217 "retry pushing?"
I was staring at 300GB log file (!! woohoo -- even grepping might take hours ;)) for 108 and saw that it ends with an exception

[code]
which IMHO shouldn't happen -- we should retry a good reasonable number of times whenever "unexpected" operation happens.

[2022-07-06 13:08] jwodder commented on #217
@yarikoptic [The code already retries pushes that fail with "unexpected disconnect" three times](https://github.com/dandi/dandisets/blob/5f45b239a93a63a469229a345d13c5e66b284a25/tools/backups2datalad/adataset.py#L132-L152); you should see WARNING messages about retries higher up in the log.  Is that enough, or should the number of retries be increased?

[2022-07-06 14:07] yarikoptic commented on #217
interesting!
- I found no indication of such warnings in the last 100k log lines
[code]
- running now lengthy `grep  -e 'disconnect; retrying' sync-20220614151536Z-2927099.log` on the entire log file, might take awhile
- we should add exponentially growing sleep there (e.g. in powers of `2`, e.g. `2**i`)

[2022-07-06 14:11] yarikoptic opened #218 "backup-zarrs on 000108 process seems to be "stalled""
may be due to one of the threads/whatevers erroring out (#217) and overall process just not quiting?

- looking at the tail of the opened main log file -- no activity since yesterday
[code]

- overall process tree with a zombie in it:

[code]

please investigate, confirm that stalled, restart

- may be also upgrade used git-annex in conda-forge since I believe some stalls were addressed since then

[2022-07-06 14:26] jwodder commented on #218
@yarikoptic I stopped the backup, but when I went to upgrade git-annex in the `dandisets` environment, conda reported that the environment was inconsistent due to a long list of packages.  I then ran `conda update --all -c conda-forge`, but the displayed report showed no updates to git-annex, so I cancelled the upgrade.

[2022-07-06 16:21] #217 closed, assigned to jwodder

[2022-07-06 16:29] yarikoptic commented on #218
https://anaconda.org/conda-forge/git-annex says that 10.20220525 is available.  With or without larger set (--all) of updates we should get git-annex updated.  I have tried to run `conda update -c conda-forge git-annex` and indeed it did not show anything to be upgraded for git-annex, odd.  Needs to be figured out I guess.

note: that `7b64dea` in `10.20220322-g7b64dea` seems have nothing to do wi

[2022-07-06 16:33] yarikoptic commented on #218
doing upgrade now -- seems doing `conda install -c conda-forge git-annex=10.20220525` twice in a row does the drill

[2022-07-06 16:35] yarikoptic commented on #218
got updated indeed
[code]

and I filed https://github.com/conda-forge/git-annex-feedstock/issues/146 . Please restart that backup process task and attend to it (not to puke/stall)

[2022-07-07 18:28] yarikoptic commented on #151
I don't think #154 (merged awhile back) fixed that since all https://github.com/orgs/dandizarrs/repositories seems to still have "some default" for the description.

BTW -- related issue in DataLad land https://github.com/datalad/datalad/issues/6816 if you could address -- would be very welcomed!

[2022-07-07 18:38] jwodder commented on #151
@yarikoptic The problem is that the repository descriptions aren't set until after the Dandiset is fully uploaded, which hasn't happened for 108 yet.

[2022-07-08 16:32] yarikoptic commented on #151
ah, that explains it. Could we move that logic to operate at "per-zarr" level (seems to make more sense) and not wait for the entire "parent" dandiset?

[2022-07-08 23:35] yarikoptic opened #220 "BIDS: ensure that we extract all metadata we can (subj/ses/ some entities)"
Per our conversation about going through dandischema and seeing what BIDS entities (in particular for the ones we already have in 000026 and 000108) map into it. Then test for that uploaded entities in bids upload tests do have that metadata.  These tests which are just to be added in that PR https://github.com/dandi/dandi-cli/pull/1011/files#diff-d6da375cea3310f70778fd4b7c0c25222581c8b61890cf8135

[2022-07-11 17:21] #151 closed, assigned to jwodder

[2022-07-13 14:24] yarikoptic opened #222 "move partial-zarrs to some speedier disk partition"
drogon was designed as a backup server, and its main /mnt/backup/dandi/ is on spindles and not optimized for high throughput. That seems to lead to IO bottleneck on the server ATM.  I think we can lighten its load up if we move operation on partial-zarrs (before they are established) to operate while on some speedy SSDs.  I think we still have empty bays in that server. I will see how much space w

[2022-07-13 14:58] jwodder commented on #222
@yarikoptic

We would simply need to move the directories while the script isn't running (and also update the path in the shell script).

No, the only option is to kill the script.

[2022-07-13 15:05] jwodder opened #223 ".gitmodules contains duplicate content"
Over the course of several commits starting on the eleventh, the `.gitmodules` file in this repository somehow ended up with its content appended to itself (in a jumbled order) multiple times, leading to warnings from Git.  The file needs to be cleaned up and the cause dealt with.  My best guess is that something went wrong with [this check](https://github.com/dandi/dandisets/blob/4a0261044fe420fc

[2022-07-13 15:55] yarikoptic commented on #222
would we need to remove/let it recreate those partial-zarrs which it didn't finish yet?  I see a good number of them which are there since June:

[code]
so I guess take awhile to populate?

[2022-07-13 16:38] jwodder commented on #222
@yarikoptic

I don't think removing them should be necessary.

[2022-07-13 19:47] yarikoptic commented on #222
I have created BTRFS partition striped across two SSDs (thus no data redundancy, it better doesn't fail) at `/mnt/fast/` and there is `/mnt/fast/dandi` folder.  Please move partial-zarrs "work" over there (I guess folder could be symlinked at old location so no adjustment to configuration would be needed). Partition is not too big (37G) but I think it should be enough for partial zarrs generation.

[2022-07-13 19:59] yarikoptic commented on #223
yikes, nice catch. and wow -- we have them repeated up to 48 times!

[code]
did you figure out how that could have happened?  git submodule seems to not allow for that

[code]

[2022-07-14 13:08] yarikoptic commented on #206
I think that particular aspect was somewhat addressed -- there is lots of activity, although system is indeed still overloaded

[2022-07-14 13:08] #206 closed, assigned to nobody

[2022-07-14 13:36] yarikoptic opened #225 ""group" or limit registerurl calls?"
Looking at what processes are busy on smaug I see that `git-annex registerurl --batch --json --json-error-messages` is one of the busiest in terms of IO. I thought that it might be due to "flat" journal , so inquired with @joeyh https://git-annex.branchable.com/todo/more___34__filesystem_efficient__34___journalling__63___/ but he thinks everything is fine on that end.

I `strace`'d one of such pro

[2022-07-14 16:51] yarikoptic commented on #225
echoing https://git-annex.branchable.com/todo/registerurl__58___do_changes_in_journal___34__in_place__34____63__/#comment-85131966a882ff24431566d146b5634b - can we reorder registerurl calls so that we do all additions of urls to a key first before proceeding to the next key?  I thought so since we are probably first fetching all the information first about the keys, so can reorder any way we want,

[2022-07-14 16:57] jwodder commented on #225
@yarikoptic

If by "key" you mean "git-annex key" (not to be confused with "S3 key"), we are not.  We fetch data about the entries in S3 ordered by path in paginated batches.  Fetching everything before doing anything would not be efficient.

[2022-07-14 19:18] yarikoptic commented on #225
yes -- annex key.  Well, I know now that we have some **very inefficient** behavior in git-annex which is if not resolved might need us to make sacrifice in walking s3 efficiency I guess.

[2022-07-14 19:25] yarikoptic commented on #223
if we can't figure out what causes it, lets proliferate code with calls to some naive `assert_no_duplicates_in_gitmodules` function to call before/after every location which could potentially modify that file, like that `submodule add . Eventually it should raise an exception I guess

[2022-07-14 21:18] yarikoptic commented on #223
<details>
<summary>looking at this git log </summary>

[code]
</details>
it suggests that #221  was culprit since right after that addition of a new submodule 000288 in cc5b320d9e9dc3f8e7a7fd0edc957519302c5157 added that huge copy for the first time.

note that may be around the same point in time we might have upgraded git-annex in conda-forge and thus may be git as well...

[2022-07-14 21:33] yarikoptic commented on #223
for now disabled that cronjob so whenever it completes we could safely bring back .gitmodules to sensible state.

[2022-07-15 18:07] jwodder commented on #223
@yarikoptic It appears that the duplication is due to DataLad.  When adding a subdataset, backups2datalad ensures that the necessary section is present in `.gitmodules`, and then it calls `datalad save path/to/subdataset .gitmodules`, and at this point DataLad adds the duplicate section.  This is interesting, as the whole reason I had to make backups2datalad add the section to `.gitmodules` itself

[2022-07-15 18:12] yarikoptic commented on #223
oh - nice find! could you please file an issue against datalad for that with some reproducer (could just use some existing superdataset from anywhere, even dandisets from github)?

But also why we don't use `datalad save -d path/to/dandisets path/to/subdataset` form (i.e specifying the `dandisets` superdataset)?

[2022-07-15 18:16] jwodder commented on #223
Issue filed: https://github.com/datalad/datalad/issues/6843

Because I never considerd that `-d path/to/current/dataset` would make a difference when running in that dataset.  Why does it?

[2022-07-15 18:28] yarikoptic commented on #223
because that is how some (extended more on that issue you filed https://github.com/datalad/datalad/issues/6775#issuecomment-1185791134) commands do not modify current dataset with changes about (possible) subdatasets unless they have `-d` provided since they "scope" into operating **within** those datasets provided in target `PATH`. Specifying `-d` scopes operation to perform within that dataset,

[2022-07-15 19:20] #223 closed, assigned to nobody

[2022-07-18 14:37] yarikoptic opened #227 "might want versioned pydantic"
run failed and I had to upgrade pydantic

[code]

we have

[code]

should those be updated to `~= 1.9`?

[2022-07-18 14:40] jwodder commented on #227
@yarikoptic Pydantic appears to have had UUID4 since v0.9.1; increasing the version shouldn't be necessary.  If it is necessary, the proper place to change it would be in dandischema, as that's what's importing pydantic.UUID4.

[2022-07-18 14:41] jwodder commented on #222
Moved partial-zarrs to `/mnt/fast/dandi`.

[2022-07-18 15:30] jwodder commented on #222
@yarikoptic Now that partial-zarrs and dandizarrs are on different filesystems, moving a completed Zarr from the first folder to the second (using `pathlib.Path.rename()`) fails with:

[code]

What's the preferred way to move a git-annex repo across filesystems?

I've stopped the Zarr backup for now.

EDIT: I'm thinking that just using [`shutil.move()`](https://docs.python.org/3/library/shutil.htm

[2022-07-18 20:49] yarikoptic commented on #222
sure  - use whatever `move` you would like which would achieve the goal. Just make sure that all symlinks/permissions are moved correctly.  Also, if you could then adjust git annex description after the move via `git annex init "$HOST:$NEWLOCATION` or alike -- would be great, so description doesn't stay pointing to partial-zarrs.

[2022-07-19 19:26] yarikoptic commented on #218
I think it is going now. FWIW, git-annex was upgraded as well

[2022-07-19 19:26] #218 closed, assigned to jwodder

[2022-07-19 19:29] yarikoptic commented on #222
I believe this was done already, so closing. @jwodder please reopen if anything else to be done on this regard.

FWIW, drogon feels much better and dm-0 is not bottlenecking now

[2022-07-19 19:29] #222 closed, assigned to jwodder

[2022-07-19 21:30] yarikoptic opened #228 "use annex registerurl with -c annex.alwayscompact=false"
in particular of great importance for zarr "files" and at large might resolve https://github.com/dandi/dandisets/issues/225 .

We will need future (ATM) release of git-annex.

ref: https://git-annex.branchable.com/todo/registerurl__58___do_changes_in_journal___34__in_place__34____63__/#comment-cb068404f17c44b9f90ea78a70d102cd

[2022-07-20 17:51] joeyh commented on #225
To fix this, get git-annex version 10.20220724 (will be released on Monday) or current master.

Then set annex.alwayscompact=false when running this registerurl or anything else that needs to write bulk data to the git-annex branch.

Note that, it's not entirely safe to set that if an older version of git-annex can still be used in the repository. How to avoid that, I have to leave up to you.

Spe

[2022-07-22 21:43] yarikoptic opened #229 "upgrade annex repos to 9"
I have noted that current run of updating dandisets had a

[code]
(many files were moved around) running for hours!  I saw that it is due to the fact of running smudge filters, e.g.

[code]

per each file. SLOW!  I thought to disable smudge filters , if that would be safe, came to https://git-annex.branchable.com/todo/git_smudge_clean_interface_suboptiomal/#comment-a48dce0f1297d00111c5e5391f115dd4

[2022-07-22 22:08] yarikoptic commented on #229
Doing some timings on `falkor` which isn't busy ATM and `/tmp` is not in ram but on ssd. git-annex from conda-forge

[code]

so there remains over x60 expense for committing `git-annex`'ed files moved but it takes "reasonablish" 1 minute "only" (might do `datalad save` timing later "for fun").  Doing now v8 timing there (as it is what is happening on drogon ATM) but it would take awhile so I will

[2022-07-25 13:53] yarikoptic opened #230 "000026 history got split"
like there was a commit with partial changes pushed... may be that is what happened, but now we have on github a commit with some files missing from what we have on drogon, although commit message and date are identical

On drogon:
[code]
so talks about 39814 additions and stat shows only 30838 (also odd!)

on origin (github) it is even less committed

[code]

so clearly it is even more "incomplet

[2022-07-25 13:55] yarikoptic commented on #230
oh, since cron job was not disabled (I was reacting to email about failed push), backup script is already running and current status of the repo is

[code]

[2022-07-25 13:55] yarikoptic commented on #230
FWIW, disabled cron job for now

[2022-07-25 14:19] yarikoptic commented on #194
whenever it makes sense to spend time to initiate and populate zarrs while delaying issuing the error, it probably makes little sense to proceed with other urls only then to fail without commit since we would need to `git annex reset --hard` and retry the process to ensure that we get it right.

the other issues I guess might have been handled (e.g. `git gc` errors we dealt with I believe)

[2022-07-25 15:07] jwodder commented on #230
@yarikoptic I'm stumped.  I can confirm that the old `rawdata/` paths are still listed in `000026/.dandi/assets.json`, and I can confirm that the function for listing the assets in a DataLad backup returns the `rawdata/` assets for 000026.  I can also confirm via the backup logs that the server stopped listing the `rawdata/` assets for 000026 on the 21st.  These things together mean that `rawdata/

[2022-07-25 15:39] jwodder commented on #194
@yarikoptic So you're saying that a Dandiset backup should fail immediately if an error occurs while downloading/registering a URL with git-annex?  Should this only happen for `addurl` calls (which are only used for downloading files that aren't annexed, i.e., text files in Dandisets) or also for `registerurl` calls (used for binary files in Dandisets and all files in Zarrs)?

[2022-07-25 18:51] yarikoptic commented on #230
I might know what it could be although not 100% certain.  Might relate to datalad needing to split a single `commit` into multiple while having too many entries given in the command line! https://github.com/datalad/datalad/blob/master/datalad/support/gitrepo.py#L1409  so we could end up with a commit stating some large number of files being committed but then "not". Then subsequent `commit` invoca

[2022-07-25 18:53] yarikoptic commented on #230
or may be screw it -- current behavior/performance is so bad that I will just kill, hard reset to the state before the move, upgrade to v9, and redo backup!

[2022-07-25 19:05] yarikoptic commented on #229
Following @joeyh recommendation from https://git-annex.branchable.com/todo/git_smudge_clean_interface_suboptiomal/#comment-65f848510d8684bf65c6698f68b700dd , instead of upgrade to v9, doing

[code]

for now only in 000026 to get over the hump . shouldn't forget to unify one way or another across all dandisets

[2022-07-26 01:44] yarikoptic commented on #230
it managed to commit additions nicely,

<details>
<summary>but it crashed on removals with following</summary>

[code]

</details>

I am not sure what processes conflicted (may be some `git gc`?) or may be it was multiple `git rm` invocations - does it do it per file @jwodder judging from `CalledProcessError` above? then better collect all and run in a single invocation to `git rm` (but may be thr

[2022-07-26 01:59] yarikoptic commented on #230
well, did `git commit --amend -C 45b0c90db71f7682a57a55a27b537ae8fd51f628` and it seems picked up the commit date etc from prior one. now only we have a bit misleading commit message since those were not added but moved.

I have done `git gc --prune=now` to bring .git/objects down (not much -- still 192M from some 200M), and then restarted the backup job in the screen to see if we arrive clean.

[2022-07-26 02:02] yarikoptic commented on #230
oh hoh... I hit Enter too early.  `git push -f` for 000026 failed now with

[code]

damn github and the gotcha is that actually that file does still contain entries for `rawdata/` files which I have manually removed... I will try rerunning backup script to see if it manages somehow to fix up the situation but it might be needing manually cleansing.

[2022-07-26 16:20] yarikoptic opened #231 "update-from-backup: add --force=consistency-update option"
Follow up to https://github.com/dandi/dandisets/issues/230#issuecomment-1194885177 . We should be able to ensure complete check/fix up (add/remove files and ensure up-to-date `.dandi/assets.json`) without shortcuts: should get a list of assets, ensure that they (and only they) are available locally, save current `.dandi/assets.json` and dandi.yaml.  ATM update of 000026 where we manually reflected

[2022-07-26 16:21] yarikoptic commented on #208
let's consider this one addressed

[2022-07-26 16:21] #208 closed, assigned to jwodder

[2022-07-26 16:23] yarikoptic commented on #147
I think we have it although it is so slow that might be of no point...

[2022-07-26 16:23] #147 closed, assigned to jwodder

[2022-07-26 16:24] yarikoptic opened #232 "optimize API request to get/list assets"
largely - needs https://github.com/dandi/dandi-archive/issues/397 to be addressed and then used here instead of a lengthy flood of API server with requests per asset

[2022-07-26 16:24] jwodder commented on #231
@yarikoptic The script is already supposed to align `assets.json` and the set of local files with what's on the server.  I don't know why that's not happening (the fact that `assets.json` wasn't updated implies the problem wasn't with `datalad save` breaking up the command), and unless you're proposing a different method of operation, a "force consistency" option wouldn't make a difference.

[2022-07-26 17:39] yarikoptic commented on #194
I think so.  I think it should happen to any call which at the end of the process currently would result in an error of an overall dandiset backup run and I think both of those would, wouldn't they?

[2022-07-26 19:26] jwodder commented on #194
@yarikoptic Actually, only failed `addurl` calls result in a failed backup.  Failed `registerurl` calls just result in an ERROR-level log message and nothing else, though there is a "TODO: Raise an exception?" comment in the code there.

Also, for completeness, it appears that calls to `git-annex fromkey` can fail as well (or at least the returned JSON has a "success" key), though I don't know whe

[2022-07-28 17:10] yarikoptic commented on #232
That PR was merged and released (according to labels, didn't try it yet), so this issue is open for fixing.

[2022-07-28 19:04] #232 closed, assigned to jwodder

[2022-07-28 21:58] yarikoptic opened #237 "000243 zarr.py", line 231, in read_sync_file causes JSONDecodeError"
With #235 merged (not sure if related though since backtrace seems about zarr) run of main script (not populate*) failed for one dandiset with

[code]
I will rerun now with #236 merged to see if reproducible.

[2022-07-28 22:21] yarikoptic commented on #237
yeap, it's consistent/reproducible.

[2022-07-28 22:35] yarikoptic opened #238 "add more metadata (dandiset id, command) into log filename name?"
in one of the recent PRs logging was RFed to no longer store logs within any particular dandiset. So we have them all in a single location within superdataset:

[code]
I thought it would be fine but it is pretty much is impossible now to identify which log file to look at for a particular dandiset of interest (e.g. 000026 for #230 ). Moreover it is complicated by the fact that most recent log for

[2022-07-29 13:53] jwodder commented on #237
When you moved the files in `.dandi` in Zarr 7723d02f-1f71-4553-a7b0-47bda1ae8b42 from git-annex to git, you did it wrong, and now the contents of, say, `.dandi/s3sync.json` are literally "`/annex/objects/MD5E-s143--b49b3643ca01ab4b71558fe234aa98df.json`".

[2022-07-29 13:58] jwodder commented on #237
@yarikoptic I've deleted the `.dandi/s3sync.json` and `.dandi/zarr-checksum` from the Zarr backup in question.  The next run of the script should recreate them.

[2022-07-29 14:01] jwodder commented on #238
@yarikoptic

The logs in that folder are for the entirety of a backups2datalad run, so they cover multiple Dandisets (unless you specified just one specific Dandiset as part of the command) and multiple Zarrs.

That can be done.

[2022-07-29 14:29] yarikoptic commented on #238
since we process them in parallel, we might need to add logging dandiset id or zarr id in each line then to tell one "process" from another.  Do you think this could be done reasonably easily?

[2022-07-29 14:31] jwodder commented on #238
@yarikoptic The logs already include the Dandiset ID and Zarr ID in each line.  The only exceptions are log messages from external libraries and the log messages emitted whenever an external command is run (but at least the latter include the CWD).

[2022-07-29 14:33] yarikoptic commented on #237
oh... commits in question are e.g. https://github.com/dandizarrs/7723d02f-1f71-4553-a7b0-47bda1ae8b42/commit/2f8205262c9387552268411827ebd13ad5bf577f  where indeed I just made it from a regular annexed file into unlocked annex file.  Let's hope that rerun would address that. Doing it now! Thanks!

[2022-07-29 14:42] yarikoptic opened #239 "Idea: dandiset Version "wide" state sha256s"
NB filing it in dandisets but eventually might be moved or formalized within dandi-archive.

ATM out backup script fetches the entire list of assets from the server to typically just verify that there is no changes to fetch. It is relatively expensive operation especially on such heavy dandisets as 000026.

dandi-archive DB model does not have git-like "state" descriptor which could provide simila

[2022-07-29 14:48] jwodder commented on #239
@yarikoptic So the API would expose some number of endpoints for getting these checksums (or just the last one?), the datasets would store the current value of each checksum when making or updating a backup, and the script would check whether a backup is needed by comparing the stored checksums to the checksums on the server?  Sounds good.

[2022-07-29 14:58] yarikoptic commented on #239
for us to decide I guess, and insofar I see the last one of the most value ATM.
Although if we could get a list of assets even without metadata but only with those checksums -- we would have enough for making decision on either to update or not. But so far I do not see big penalty from requesting full metadata records if we are to request the full list of assets, so not sure if that particular ste

[2022-07-29 17:34] yarikoptic commented on #238
I am not observing that generally (some lines include API urls pointing to specific dandisets indeed) to be true:

[code]

so it is not clear to what dandiset those actions (updating metadata, versions) are pertinent to

[2022-07-29 17:58] jwodder commented on #238
@yarikoptic #240 should fix that.

[2022-07-29 19:17] jwodder commented on #231
@yarikoptic Let me describe how the asset backup works (ignoring the behavior around handling of published versions):

- When starting to update a Dandiset backup, `.dandi/assets.json` (containing all the asset metadata from a previous backup) is read into a variable named `asset_metadata`, and the list of assets in the local dataset is stored in a variable named `local_assets`.
- The script retri

[2022-07-29 20:43] yarikoptic commented on #231
To the 2nd step (retrieves each asset from the API) add *collect paths of remote assets into "remote_paths".*

Then before `Then, everything still in asset_metadata is dumped to .dandi/assets.json.`  in the last step add *remove from asset_metadata any asset path of which is not present in `remote_paths`*.

[2022-07-29 20:44] yarikoptic commented on #231
Commit message for such a change (if any asset is removed from asset_metadata) should include number of such assets which were "garbage collected from local listing" or smth like that

[2022-08-01 03:01] anhknguyen96 opened #242 "error installing 000026"
The `dl.install(source='https://github.com/dandi/dandisets.git', path=root_folder, recursive=True)` command returned an error on 000026:

`[INFO   ] https://github.com/dandisets/000026.git/config download failed: Not Found
[INFO   ] access to 1 dataset sibling dandi-dandisets-dropbox not auto-enabled, enable with:
|               datalad siblings -d "/tmp/dandisets/000026" enable -s dandi-dandiset

[2022-08-01 14:36] yarikoptic commented on #239
@satra suggested a possible quick "temporary" workaround -- to use the ETag of the manifest dump on S3 for the draft version. URL to that location could be retrieved from dandiset metadata record.  Pros: available now. Cons: relies on a "derivative" detached from the DB, dumping of which could also get broken  so we would end up with outdated state of dandisets.

[2022-08-01 14:50] #231 closed, assigned to jwodder

[2022-08-01 14:51] jwodder commented on #239
@yarikoptic @satra

Where in the Dandiset metadata?  If I look at [the metadata for 000029](https://github.com/dandisets/000029/blob/6a65b28f5d8749c3ce79994ef5968f7cafc3bc52/dandiset.yaml), the most likely candidate seems to be the URL under the "`manifestLocation`" key, but that's just the API's asset listing for the Dandiset.

[2022-08-01 15:29] satra commented on #239
ah yes, for draft assets i think we just return the API endpoint. if you look at a versioned dandiset, you'll see what the s3 path looks like for a manifest. there exists a similar path for a draft dandiset to, the api doesn't expose it at this point, but could.

[2022-08-01 15:36] yarikoptic commented on #230
overall this issue is resolved. It was due to `datalad save` needing to do multiple commits with `--amend` for a long list of paths

[2022-08-01 15:36] #230 closed, assigned to yarikoptic

[2022-08-01 15:37] yarikoptic opened #244 "need to "shrink" or annex .dandi/assets.json"
as initially reported in https://github.com/dandi/dandisets/issues/230#issuecomment-1194885177, `git push` fails for 000026 with

[code]

so -- github/microsoft is pushing to use of their LFS.   I think we should just make use of `annex unlocked` (so we do not need to mess with all the lock/unlock etc) file functionality and keep it under git-annex for this and all the rest of dandisets (for the u

[2022-08-01 15:39] yarikoptic commented on #242
yes, hang there a bit more.  We need to address https://github.com/dandi/dandisets/issues/244 .

NB out of curiosity, why are you interested in the entire hierarchy of the dandisets?

[2022-08-01 15:41] yarikoptic commented on #239
indeed not in metadata. URL could be grammatically created I guess, although that would be suboptimal:

[code]

[2022-08-01 15:46] jwodder commented on #244
@yarikoptic So annex `.dandi/assets.json` whenever it's larger than 100 MB?  Exactly what commands do I need to run to store a pre-existing file under git-annex, and how would we make it available to other users cloning the repository?

[2022-08-01 15:56] jjnesbitt commented on #239
Currently a draft version's `modified` field is updated every time an asset within that draft version is created, updated or destroyed. If we can assume this, why couldn't a simple reading of last modified for that dandiset's draft version suffice?

[2022-08-01 16:03] jwodder commented on #244
@yarikoptic Note that, in this particular case, you can get rid of the large `.dandi/assets.json` file by squashing the "garbage collection" commit into the previous commit.

[2022-08-01 16:30] yarikoptic commented on #244
Following https://git-annex.branchable.com/todo/annex.addunlocked_in_gitattributes/
and RTFM, apparently we need to use `git annex config` (not just .gitattributes) so for consistency we could have just done

[code]

NB there is also `--get` analog to test that they are set already or not.

<details>
<summary>full script</summary>

[code]
</details>

which ended doing the right thing -- adding siz

[2022-08-01 16:36] yarikoptic commented on #244
ha -- missed that there is a warning about 50MB limit and hard error after 100MB -- will squash now

[2022-08-01 16:40] yarikoptic commented on #244
squashed, and pushed . Got a warning but no error. So immediate problem mitigated but let's still do that limiting by 1MB.. actually let's boost it to 5MB (10th of warning size). Here is current sizes:
[code]
so most are small and will go under git.

[2022-08-01 16:55] jjnesbitt commented on #239
Also, currently the dandisets listing endpoint embeds each dandiset's draft version into the response, so this last modified time could be viewed in bulk through the dandiset list endpoint.

[2022-08-01 17:32] yarikoptic commented on #242
the issue is mitigated for now, I pushed updated states of both 000026 and dandisets "super-dataset"

[code]

[2022-08-01 17:32] #242 closed, assigned to nobody

[2022-08-01 17:39] yarikoptic commented on #239
To say the truth I was not aware that " a draft version's modified field is updated every time an asset within that draft version is created, updated or destroyed. " . Overall, I think, it could provide us a quick/easy way to check for changes.  I guess we could make it "optional" (or forced to ignore) so we could once in a while (e.g. once a week) run a "full sweep" and alert us (error out at fir

[2022-08-01 18:00] jwodder commented on #239
@yarikoptic Would we compare the server's timestamp against the author date of the local dataset's HEAD commit (which is based on the Dandiset "modified" timestamp at the time of the last backup), or would we store the timestamp in some file in the dataset?

Erroring out might require too many changes to the code.  It'd be easier if we just periodically did a backup that ignored the server's times

[2022-08-01 18:26] yarikoptic commented on #239
I would probably just store in a file (e.g. `.dandi/assets-state.json` with "timestamp" or alike, happen we want to use/extend later) since relying on commit makes it difficult to be able to tune/fix that dandiset.

ok, let's just log at WARNING or ERROR level, and indeed have an option to trigger current behavior once a week or so

[2022-08-02 06:41] anhknguyen96 commented on #242
Thanks for the quick resolution of the issue!

I'm working on a [GSoC project](https://github.com/OpenSourceBrain/DANDIArchiveShowcase), mentored by @pgleeson and @sanjayankur31, in which I explore compatibility issues between existing NWB dandisets and NWB explorer. As I wish to do that systematically, datalad is one of the tools I'm using to go through the hierarchy of the  dandisets.

[2022-08-02 14:45] yarikoptic commented on #242
That is great -- thank you @anhknguyen96 and good luck with the project! Do not hesitate to reach out if you encounter any other difficulties or have any other questions answers to which would expedite your progress on the project!

[2022-08-02 17:15] pgleeson commented on #242
Yes @yarikoptic, this is a project which we needed to do for NWBE, but should be of interest in general to DANDI, as means to bulk analyse the contents and automate tests on validity etc.
We're long overdue a chat with the DANDI team to discuss wider interactions between DANDI and NWBE/Open Source Brain, and well get in contact once this all is in a stable state to chat.

[2022-08-02 17:18] satra commented on #242
@anhknguyen96  and @pgleeson - if you use the dandiset metadata `assetsSummary` to restrict the dandisets, it would act as a better filter for NWB data. 26 actually doesn't contain any NWB files.

[2022-08-02 17:21] pgleeson commented on #242
@satra It would be good for us to keep an eye on other non nwb dandisets too, as we'll be keen to know the other common formats being used. BIDS should be on our list to support on OSB some time too...

[2022-08-02 17:26] satra commented on #242
in that case, sounds good.

[2022-08-02 20:41] yarikoptic commented on #237
I think it is all ok now

[2022-08-02 20:41] #237 closed, assigned to jwodder

[2022-08-02 20:43] yarikoptic commented on #227
did you mean 1.9.1 since I upgraded from 1.9.0 to 1.9.1?

if you feel that it needs to be done in dandischema -- please send a PR against it. But then how can we require `pydantic ~= 1.8` if we would need `>= 1.9.1` through dandischema -- would need to be updated too, right? (edit: I mean - please send needed PRs to ensure robust operation of the tandem here)

[2022-08-02 20:47] jwodder commented on #227
@yarikoptic No, I meant [0.9.1](https://pydantic-docs.helpmanual.io/changelog/#v091-2018-05-10).  I don't really know what caused the original issue, but I don't think it was simply pydantic being out of date.

[2022-08-03 13:31] yarikoptic commented on #227
ah, ok.  That "unknown location" in the original error hints that may be somehow installation got screwed up. Ok, let's consider it an installation fluke we cannot anyhow address.

[2022-08-03 13:31] #227 closed, assigned to jwodder

[2022-08-03 13:44] jwodder commented on #239
It appears that the "modified" property of Dandisets is not updated when an asset is uploaded to the Dandiset, as this script demonstrates:

[code]

Output from one run:

[code]

[2022-08-03 14:08] satra commented on #239
the default listing in dandiarchive is by modification time, so somewhere it is happening, but perhaps delayed.

i think it's still a bug if asset addition doesn't modify the dandiset.  technically it should update on add or modification (such as outcome of checksumming/validation, which are out of band processes).

also `dateModified` is not being set on dandiset metadata. filed: https://github.c

[2022-08-03 14:25] jjnesbitt commented on #239
@jwodder is your script retrieving a version or a dandiset itself? The pertinent version is updated on asset modification, but the dandiset containing that version is not. Regarding synchronous behavior, the version modified field is updated in the request thread, so there's no delay to it.

[2022-08-03 14:28] jwodder commented on #239
@AlmightyYakob It's retrieving a Dandiset.  I can confirm that the "modified" property of the version is updated.

[2022-08-03 14:49] jwodder commented on #239
@yarikoptic When backing up a Dandiset, if a save happens partway through due to there being a published version that some assets were added after, should the `assets-state.json` file be updated at this partial save point, and, if so, what timestamp should it contain?

[2022-08-03 17:32] yarikoptic commented on #239
Do we know time stamp of published version?  I would expect it to be **before** the time stamp of the updated draft **but** I am afraid there is no guarantee.
May be then let's not bother saving that intermediate state within "draft" branch for which we do not unambiguous metadata and just produce that commit in the "release" branch for that published version?

Is this question "directly" related

[2022-08-03 18:36] jwodder commented on #239
@yarikoptic

Yes.

There's currently a nontrivial portion of the code dedicated to saving the asset state at/around the point at which versions were published so that the commits on the release branch are close to minimal.

It's mostly a question of where exactly in the update procedure to put the "Update `assets-state.json`" logic.

[2022-08-08 16:11] yarikoptic commented on #239
yes, and that is good.  But there would be cases where we cannot deduce reliably, wouldn't they?
 How did we decide on that time stamp before -- wasn't it the latest modification time for any of the affected assets but checking that it is after prior commit timestamp and not after the overall published/draft version (i.e. if violated -- the case where we cannot deduce timestamp to use, just avoid

[2022-08-08 16:13] yarikoptic commented on #141
havent' seen anything like that recently so let's blissfully be happy and hope in our ignorance that the issue is not of a problem for us.

[2022-08-08 16:13] #141 closed, assigned to nobody

[2022-08-08 16:38] jwodder commented on #239
@yarikoptic

When taking a backup of a draft Dandiset, all of the version information for the Dandiset is fetched and sorted by the `created` timestamps before fetching any assets.  While listing assets from the server (retrieving them in "created" order), if the current asset has a `created` timestamp later than or equal to the `created` timestamp of the next version, we pause, save what we curre

[2022-08-08 19:12] yarikoptic commented on #239
the answers are:
- `assets-state.json` should be updated at every save point, including the "partial save point"
- if it is "partial save point" - save using  "created timestamp of current asset"

[2022-08-09 15:57] jwodder commented on #239
@yarikoptic

When doing such a sweep, if any assets are "garbage collected" (see #231, #243), should that trigger an error or not?

[2022-08-09 17:59] yarikoptic commented on #239
Could it be an option we would enable (e.g. `--gc-assets=not,do,error` or alike) so e.g. for that full sweep we could set it explicitly to `--gc-assets=error`, and keep availability of `do` for conscious handling of "error" cases, and by default have it `not`, i.e. not bother and not do even a check?

[2022-08-09 18:11] jwodder commented on #239
@yarikoptic That would be possible, but I'm not clear on why you want such configurability.  For one thing, I don't believe the asset GC check has any notable effect on efficiency, so I don't see why you'd want to leave it off by default, and if we limit the options to just `do` and `error`, I'm not sure why you'd want a value other than `error` when doing a full sweep.

[2022-08-09 18:45] yarikoptic commented on #239
agree -- just `do` and `error` with `error` being the default but so we could `do` it after analysis of an `error`.

[2022-08-11 16:10] yarikoptic commented on #225
I think I can confirm speed up (will rerun once again) on the original sample case:

<details>
<summary>with annex.alwayscompact=false 49:33.03elapsed, without 1:34:20elapsed, so 50 min vs 1h 34 min </summary>

[code]
</details>

<details>
<summary>rerun showed similar/better improvements</summary>

[code]
</details>

[2022-08-11 19:29] yarikoptic opened #246 "error_on_change can be "racy""
NB I hit `Enter` my accident before filling it in

This is a follow up to  #245 PR which introduces default behavior of quick checks of dandisets by their modification times to decide either to skip or go through assets and reflect changes.  In the mode of `--verify-timestamps` it might happen that we would be going through assets **while** dandiset gets updated, and by the time we get to some ass

[2022-08-11 19:40] yarikoptic commented on #228
ok, let's do it since timings showed notable improvement for some use cases - see https://github.com/dandi/dandisets/issues/225#issuecomment-1212196097

- check if `datalad.support.external_versions.external_version['cmd:annex'] >= '10.20220724'` and error otherwise
- add `-c annex.alwayscompact=false` to the `registerurl` invocation

[2022-08-11 20:01] jwodder commented on #228
@yarikoptic Should this also be added to `addurl`?

[2022-08-12 07:17] yarikoptic commented on #228
Good catch, I would assume it would indeed benefit too. Please do that too

[2022-08-12 17:01] #239 closed, assigned to nobody

[2022-08-12 17:05] #228 closed, assigned to jwodder

[2022-08-14 16:32] yarikoptic opened #248 "don't bother with push/publish if no updates in fast-check mode"
ATM

[code]
so it means that we tryto publish even when no changes in "fast check" mode.  Let's push/publish unconditionally only if doing that `--verify-timestamps` mode.

[2022-08-16 13:23] jwodder commented on #248
@yarikoptic I see no reason why backups2datalad would be pushing datasets that hadn't changed.  Are you sure the pushes you're seeing aren't from the `datalad push -J 5` command in `backups2datalad-update-cron`?

[2022-08-17 13:28] yarikoptic commented on #248
first I thought that you are right but then saw that it is not recursive there!  so it would not cause all those pushes... so I guess it is one of those
[code]

[2022-08-17 13:31] jwodder commented on #248
@yarikoptic Can you provide the output from a recent, post-#249 run showing the pushing?  Or give the path to the logfile for such a run?

[2022-08-17 14:01] jwodder commented on #248
@yarikoptic I think the pushes may be caused by [this line](https://github.com/dandi/dandisets/blob/4e72e94d59da1013fd18b27ea67c92708891226b/tools/backups2datalad/datasetter.py#L293-L294) in `tag_releases()`, which is called after syncing the Dandiset (or after not syncing it due to the timestamp being up to date).  Exactly what do you want changed?

[2022-08-17 14:39] yarikoptic commented on #248
to not call `tag_releases` if the dandiset was not updated in that run without `--verify-timestamps`.

[2022-08-17 14:40] jwodder commented on #248
@yarikoptic That seems to assume that the draft timestamp is updated whenever a new version is published.  Is that the case?

[2022-08-17 16:36] yarikoptic commented on #248
a good point -- I am not sure why it should be the case. ok then, pass in the state on either it was updated and then do push conditionally on that or if any new release has happened.  Or move out `push`ing into a separate state  and make update and tag_releases return on either they updated anything, and then push conditionally on that.

[2022-08-17 18:14] yarikoptic commented on #238
lets assume it was fixed by  #240 for now

[2022-08-17 18:14] #238 closed, assigned to jwodder

[2022-08-17 18:17] #248 closed, assigned to jwodder

[2022-08-18 17:02] #194 closed, assigned to jwodder

[2022-08-18 20:49] yarikoptic opened #253 "do not add zarr subdatasets one per commit"
in case of 000108 we have thousands of .zarr subdatasets. Currently they all seems to be added one at a time:

[code]

leading to thousands of commits, and .git/objects being 80MB **after** `git gc` although there is not that much to store there besides .gitmodules and a few file trees.  I do not think that those .zarr are anyhow different from regular assets, but may be we have discussed and I fo

[2022-08-18 20:59] yarikoptic opened #254 "10 zarr subdatasets might still be missing for 000108"
they might still come

[code]

but there is 10 less of submodules:

[code]

so may be some are yet to get in (may be were uploaded after previous run was initiated?)

close if "not an issue" or it gets resolved (ie we have equal number)

[2022-08-18 20:59] yarikoptic commented on #229
for now just did that filter-process trick

[2022-08-18 20:59] #229 closed, assigned to nobody

[2022-08-18 21:00] yarikoptic commented on #159
we split into multiple, so far seems tobe ok

[2022-08-18 21:00] #159 closed, assigned to yarikoptic

[2022-08-18 21:37] yarikoptic opened #255 "Make "populate" more efficient and not consider datasets already "populated""
as now we have hundreds of dandisets and thousands of zarrs, it is wasteful and eventually might become prohibitive to run `annex move` command in each one of them even without them having had any change since the last time.  I see possible approaches:

- `1.` Centralize knowledge on candidates for `populate{,-zarr}`, so whenever any of them is `populated` fully (i.e. `move` command ran and found

[2022-08-19 19:17] jwodder commented on #254
@yarikoptic I haven't been able to get many greps of the logs done, but I think what happened is that the ten missing Zarrs were backed up by the `backup-zarrs` command, after which they waited to acquire a lock on 000108 that would have allowed them to be cloned into the Dandiset, but the script was killed by a Cntrl-C before that happened, leaving them backed up in the `dandizarrs/` folder but n

[2022-08-19 19:57] yarikoptic commented on #254
nice digging!

<details>
<summary>those zarrs do exist but some are dirty</summary>

[code]
</details>

so I guess indeed their update process was interrupted... (~~meanwhile I will run similar loop across all zarrs to find all dirty~~)

I do not remember killing any and was not monitoring memory consumption.

I wonder if we should just finish updating those zarrs and "manually" install them in?

[2022-08-22 13:41] jwodder commented on #253
@yarikoptic Zarrs are only added one per commit when adding with `backup-zarrs`, as the goal of that command is to add Zarrs piecemeal rather than waiting for everything to be backed up at once in one commit.  `update-from-backup`, on the other hand, commits all Zarrs and all assets in one big commit.

[2022-08-23 20:00] jwodder opened #256 "More efficient dirt check needed"
The backup of 000108 is currently stalled at the very first step, checking whether the dataset is dirty, which it does by evaluating [`ds.repo.dirty`](https://github.com/datalad/datalad/blob/85102f65ce3f7024c6d0de85a9839cff4171b2fb/datalad/support/gitrepo.py#L2239-L2260), which in turn calls `git status`, collects the entire output, and then (in order to handle some sort of edge case) does another

[2022-08-24 00:07] yarikoptic commented on #256
No immediate ideas really besides introducing some special case for 000108 to avoid testing for untracked files. Could be done with datalad's `status(untracked='no')` and may be also adding for submodules to test only `eval_subdataset_state='commit'`

[2022-08-24 18:16] yarikoptic commented on #256
- didn't check at which stage it happens, but I think that dirty checking should be delayed all the way until we are actually proceeding with an update. Is that the case?
- overall strategy would be to not carry installed zarr submodules in dandisets:
   -  upon completion of update, uninstall all zarr submodules (we do have them locally among `dandizars/` folder). That would guarantee that we do

[2022-08-24 18:20] yarikoptic commented on #213
I believe this proposal was implemented (ATM we are fighting new daemons due to size/etc)

[2022-08-24 18:20] #213 closed, assigned to nobody

[2022-08-24 18:20] #192 closed, assigned to nobody

[2022-08-25 12:42] jwodder commented on #256
@yarikoptic

The dirt check already happens after checking the assets stat timestamp.  What exactly do you mean by "until we are actually proceeding with an update"?

Why even both installing the Zarrs in the Dandiset datasets in the first place?  We could just register them as gitmodules but not check them out there — though I'm not sure how best to do that with DataLad.

[2022-08-25 16:34] yarikoptic commented on #256
likely just what you said - until we do early check for timestamp

sure. Just recall that it is not only about registering as a submodule (within .gitmodules) but also updating that submodule "Subproject commit" (git term in the commit corresponding to commit with submodule hexsha) whenever zarr gets updated to some new state.  So if we can avoid installing it entirely and just keep somehow (didn'

[2022-08-26 14:14] yarikoptic commented on #254
@AlmightyYakob [reported in slack yesterday](https://dandiarchive.slack.com/archives/GMRLT5RQ8/p1661456432922169)

I guess it could be a set of those problematic @jwodder listed above.  @jwodder - could you provide dandi-cli API snippet to list those non-ingested and file an issue against https://github.com/dandisets/000108/issues/ with their list -- I think they should be handled one way or anoth

[2022-08-26 14:22] jwodder commented on #254
@yarikoptic The following script output nothing:

[code]

[2022-08-26 14:35] yarikoptic commented on #256
FWIW, `git update-index --index-info`, man: https://gitirc.eu/git-update-index.html , seems to be the command to use to update the submodule/subproject state directly avoiding `git add submodule` -- so we could indeed update the subdatasets states without having them installed.